.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 2rem;
}

.popupContainer {
    position: relative;
    border-radius: 2rem;
    padding: 2rem;
    width: 90%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at bottom left, #383737 0%, #171717 60%, #000 100%);
    height: 90%;
    overflow: hidden;

    &.navigating {
        .navigationPanel {
            transform: translateX(0);
        }

        .navigationPanel .mainCard {
            animation: introAnimation 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
        }
    }
}

.rightButton {
    position: absolute;
    top: 50%;
    left: -5rem;
    transform: translate(0, -50%);
    padding: 4rem 3rem;
    background: #333;
    border-radius: 50%;
    color: #d74f15;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, left 0.3s ease;

    svg {
        width: 3rem;
        height: 3rem;
        margin-left: 3rem;
    }

    &.navigateActive {
        left: -3.5rem;
        background: none;
        z-index: 999;
    }
}

.navigationPanel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    transform: translateX(-100%);
    transition: transform 0.6s ease;
    z-index: 4;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    .mainCard {
        height: 20rem;
        max-width: 35rem;
        width: 100%;
        transform: translateY(calc(50% + 10rem)) scale(0.8) rotate(-5deg);
        opacity: 0;
        transition: transform 0.6s ease-in-out, max-width 0.4s ease, height 0.4s ease, opacity 0.4s ease;
        background: #1a1a1a;
        border-radius: 2rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
        position: relative;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;

        &.qrExpanded {
            max-width: 100%;
            // background: none;
            // box-shadow: none;
            height: 100%;
            transform: translateY(0) scale(1) rotate(0deg);
            overflow: hidden;
            opacity: 1;
            border-radius: 1rem;

            .account_number,
            .create_at,
            .qr_icon {
                opacity: 0;
                transition: opacity 0.3s ease;
            }

            .qrImage {
                transform: scale(1.1);
                opacity: 1;
                overflow: hidden;
                transition: transform 0.4s ease, opacity 0.4s ease;
                height: 30rem;
                width: 30rem;
            }
        }

        .account_number,
        .create_at,
        .qr_icon {
            opacity: 1;
            transition: opacity 0.3s ease;
        }

        .qrImage {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 2rem;
            transform: scale(0.9);
            opacity: 0;
            transition: transform 0.4s ease, opacity 0.4s ease;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 1rem;
            right: 10%;
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;
            background: rgba(245, 14, 65, 0.5);
            z-index: 3;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 1rem;
            right: 5%;
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;
            background: rgba(243, 159, 47, 0.5);
            z-index: 3;
        }

        .account_number {
            position: absolute;
            top: 1rem;
            left: 2rem;
            font-family: "Orbitron", sans-serif;
            font-size: 2rem;
        }

        .create_at {
            position: absolute;
            bottom: 0;
            left: 2rem;
            font-size: 1.1rem;
            font-family: "Orbitron", sans-serif;
            text-transform: uppercase;
        }

        .bankInfo {
            position: absolute;
            top: 2rem;
            font-family: "Orbitron", sans-serif;
            right: 2rem;
        }

        .bankName {
            font-size: 1.6rem;
            color: #fff;
            text-align: right;
        }

        .qr_icon {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-50%, -50%);
            width: 4rem;
            height: 4rem;
            cursor: pointer;
            border-radius: .5rem;
            border: 2px solid transparent;
            animation: borderGlow 2s linear infinite;

            &:hover {
                animation-play-state: paused;
            }
        }
    }
}

@keyframes borderGlow {
    0% {
        border-color: rgba(21, 105, 215, 0.3);
        /* Orange glow start */
        box-shadow: 0 0 5px rgba(21, 50, 215, 0.5);
    }

    50% {
        border-color: rgba(215, 79, 21, 0.8);
        /* Brighter orange */
        box-shadow: 0 0 5px rgba(21, 50, 215, 0.5);
    }

    100% {
        border-color: rgba(21, 105, 215, 0.3);
        /* Back to initial glow */
        box-shadow: 0 0 5px rgba(21, 50, 215, 0.5);
    }
}

@keyframes introAnimation {
    0% {
        transform: translateY(calc(50% + 10rem)) scale(0.8) rotate(-5deg);
        opacity: 0;
    }

    60% {
        transform: translateY(2rem) scale(1.05) rotate(2deg);
        opacity: 0.7;
    }

    100% {
        transform: translateY(0) scale(1) rotate(0deg);
        opacity: 1;
    }
}

/* Responsive adjustments for tablets (max-width: 768px) */
@media (max-width: 768px) {
    .popupContainer {
        width: 100%;
        max-width: 400px;
        padding: 1.5rem;
        height: 100%;
    }

    .rightButton {
        left: -4rem;
        padding: 3rem 2rem;

        svg {
            width: 2.5rem;
            height: 2.5rem;
            margin-left: 2rem;
        }

        &.navigateActive {
            left: -1rem;
        }
    }

    .navigationPanel {
        .mainCard {
            max-width: 30rem;
            height: 18rem;
            transform: translateY(calc(50% + 9rem)) scale(0.8) rotate(-5deg);

            &.qrExpanded {
                max-width: 100%;
                height: 100%;
                padding: 5rem;

                .qrImage {
                    border-radius: 1rem;
                    height: 20rem;
                    width: 20rem;
                }
            }

            .account_number {
                font-size: 1.8rem;
            }

            .create_at {
                font-size: 1rem;
            }

            .bankName {
                font-size: 1.4rem;
            }
        }
    }
}

/* Responsive adjustments for phones (max-width: 480px) */
@media (max-width: 480px) {
    .popupContainer {
        width: 100%;
        max-width: 50rem;
        padding: 0;
        height: 85%;
    }

    .rightButton {
        left: -3.5rem;
        padding: 2.5rem 1.5rem;

        svg {
            width: 2rem;
            height: 2rem;
            margin-left: 1.5rem;
        }

        &.navigateActive {
            left: -0.8rem;
        }
    }

    .navigationPanel {
        .mainCard {
            max-width: 28rem;
            height: 16rem;
            transform: translateY(calc(50% + 8rem)) scale(0.8) rotate(-5deg);

            &.qrExpanded {
                max-width: 100%;
                height: 100%;
                padding: 5rem;

                .qrImage {
                    border-radius: 1rem;
                    overflow: hidden;
                    height: 20rem;
                    width: 20rem;
                }
            }

            .account_number {
                font-size: 1.6rem;
            }

            .create_at {
                font-size: 0.9rem;
            }

            .bankName {
                font-size: 1.2rem;
            }
        }
    }
}

.header {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    gap: 1rem;
    cursor: pointer;
    font-family: "Orbitron", sans-serif;
}

.cardsView {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    position: absolute;
    top: 50%;
    right: -10rem;
    transform: translate(10%, -50%);
}

.cardWrapper {
    position: relative;
    width: 50rem;
    height: 22rem;
    perspective: 1000px;
}

.mainCard {
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: transform 0.3s ease;

    &::before {
        content: '';
        position: absolute;
        bottom: 1rem;
        right: 35%;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        background: rgba(245, 14, 65, 0.5);
        z-index: 3;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 1rem;
        right: 30%;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        background: rgba(243, 159, 47, 0.5);
        z-index: 3;
    }
}

.account_number {
    position: absolute;
    top: 1rem;
    left: 2rem;
    font-size: 2rem;
    font-family: "Orbitron", sans-serif;
}

.name_bank {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    font-size: 1rem;
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
    color: #fff;
}

.create_at {
    position: absolute;
    bottom: 0;
    left: 2rem;
    font-size: 1.1rem;
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
    color: #7bf6d5;
}

.bankInfo {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.bankName {
    font-size: 1.6rem;
    color: #fff;
    text-align: right;
}

.blurCardLeft {
    position: absolute;
    top: 11rem;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    opacity: 0.5;
    transform: rotate(-35deg) translateX(5rem);
    z-index: 1;
}

.blurCardRight {
    position: absolute;
    top: -11rem;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    opacity: 0.5;
    transform: rotate(35deg) translateX(5rem);
    z-index: 2;
}

.cardContent {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

.cardLabel {
    color: #dbdbdb;
    font-size: 1.4rem;
}

.accountHolder {
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    margin: 1rem 0;
    font-family: "Orbitron", sans-serif;
}