@charset "UTF-8";
.QR_CheckAsset {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "Poppins", sans-serif;
  background: #fff;
  z-index: 9999 !important;
}
.QR_CheckAsset .header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 1.5rem;
  border: 0.1rem solid #dbdbdb;
  display: inline-block;
  border-radius: 2rem;
}
.QR_CheckAsset .header svg {
  margin-right: 0.5rem;
}
.QR_CheckAsset .btn_close:hover {
  background: rgba(255, 255, 255, 0.5);
}
.QR_CheckAsset .wrapper {
  margin: auto;
  max-width: 80rem;
  width: 100%;
  padding: 2rem;
  min-height: 100vh;
}
.QR_CheckAsset .wrapper .current_day {
  font-size: 1.5rem;
}
.QR_CheckAsset .wrapper .current_day h3 {
  margin-top: 1rem;
  font-size: 3rem;
}
.QR_CheckAsset .wrapper .progress_checkTask {
  overflow-y: scroll;
  height: 90vh;
  padding: 3rem 1rem;
  position: relative;
}
.QR_CheckAsset .wrapper .progress_checkTask::-webkit-scrollbar {
  display: none;
}
@media (max-width: 768px) {
  .QR_CheckAsset .wrapper .progress_checkTask {
    height: 80vh;
  }
}
@media (max-width: 480px) {
  .QR_CheckAsset .wrapper .progress_checkTask {
    height: 70vh;
  }
}
.QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .timeline {
  position: relative;
  margin: 0 auto 15rem auto;
  padding-left: 2rem;
  border-left: 2px solid #dbdbdb;
  max-width: 600px;
  text-align: left;
}
@media (max-width: 480px) {
  .QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .timeline {
    padding-left: 2rem;
    margin: 0 auto;
  }
}
.QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .timeline.completed {
  border-left: 2px solid #538c2b;
}
.QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .item {
  position: relative;
  margin-bottom: 4rem;
  padding-left: 2rem;
  padding: 0 0.5rem 0.5rem 0.5rem;
  background: #fff;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease forwards;
  width: 90%;
}
@media (max-width: 480px) {
  .QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .item {
    padding-left: 0;
  }
}
.QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .item::before {
  content: "";
  position: absolute;
  left: -3.15rem;
  top: 0;
  width: 2rem;
  height: 2rem;
  background: #dbdbdb;
  border-radius: 50%;
}
@media (max-width: 480px) {
  .QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .item::before {
    width: 1.5rem;
    height: 1.5rem;
    left: -2.8rem;
  }
}
.QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .item.completed::before {
  content: "✧";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #538c2b;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 1.5rem;
  line-height: 2;
}
@media (max-width: 480px) {
  .QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .item.completed::before {
    width: 1.5rem;
    height: 1.5rem;
    left: -2.8rem;
  }
}
.QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .item .time {
  font-size: 1.3rem;
  color: #ccaa80;
  margin-bottom: 0.5rem;
  font-weight: 500;
  text-transform: capitalize;
}
.QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .item .schedule_content .card {
  background-image: url(../../../public/images/card.jpg);
  background-position: center;
  background-repeat: no-repeat;
  max-width: 40rem;
  width: 100%;
  height: 18rem;
  border-radius: 3rem;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .item .schedule_content .card {
    max-width: 35rem;
    height: 17rem;
  }
}
@media (max-width: 480px) {
  .QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .item .schedule_content .card {
    max-width: 30rem;
    height: 16rem;
  }
}
.QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .item .schedule_content .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .item .schedule_content .card::before {
  content: "";
  position: absolute;
  bottom: 1rem;
  right: 10%;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background: rgba(245, 14, 65, 0.5);
  z-index: 3;
}
.QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .item .schedule_content .card::after {
  content: "";
  position: absolute;
  bottom: 1rem;
  right: 5%;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background: rgba(243, 159, 47, 0.5);
  z-index: 3;
}
.QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .item .schedule_content .card h3 {
  font-size: 1.2rem;
  color: #fff;
  margin: 1rem;
  position: absolute;
  top: 20%;
  left: 3%;
  text-transform: capitalize;
}
.QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .item .schedule_content .card .image_bank {
  position: absolute;
  top: 10%;
  right: 5%;
  max-width: 10rem;
  overflow: hidden;
  border-radius: 0.5rem;
}
.QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .item .schedule_content .card .image_bank img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .item .schedule_content .card .image_bank img:hover {
  transform: scale(1.05);
}
.QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .item .schedule_content .card .QR_code {
  position: absolute;
  top: 40%;
  right: 2rem;
  transform: translate(-2rem, -50%);
}
.QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .item .schedule_content .card .QR_code svg {
  font-size: 4rem;
}
.QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .item .schedule_content .card .qr_icon {
  position: absolute;
  top: 10%;
  right: 5%;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  z-index: 4;
}
.QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .item .schedule_content .card .number_banks {
  position: absolute;
  top: 12%;
  left: 5%;
  color: #fff;
  font-size: 2rem;
  text-transform: capitalize;
  font-family: "Orbitron", sans-serif;
  font-weight: bolder;
}
.QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .item .schedule_content .card .create_at {
  position: absolute;
  bottom: 16%;
  left: 5%;
  color: #7bf6d5;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .item .schedule_content .card .name_banks {
  position: absolute;
  bottom: 7%;
  left: 5%;
  color: #fff;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .item .schedule_content .card .status {
  color: #538c2b;
  font-size: 1.2rem;
}
.QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .item .schedule_content h4 {
  font-size: 2rem;
  color: #333;
  margin: 0 0 0.5rem 0;
}
.QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .item .schedule_content .status {
  font-size: 1.3rem;
  color: #538c2b;
  margin: 0;
  margin-top: 2rem;
  border-bottom: 0.1rem solid #dbdbdb;
  padding-bottom: 0.7rem;
}
.QR_CheckAsset .wrapper .progress_checkTask .progress_wrapper .item .schedule_content .unfinished {
  color: #dbdbdb;
  font-size: 1.3rem;
  margin: 0;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .wrapper {
    padding: 2rem 1rem;
  }
}/*# sourceMappingURL=QR_created.module.css.map */