.template10 {
  max-width: 80rem;
  margin: auto;
  position: relative;
}
.template10 .intro {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 80rem;
  width: 99%;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  transition: opacity 0.8s ease, visibility 0.8s ease, transform 0.8s ease;
  z-index: 9999999 !important;
  min-height: 100vh;
  overflow: hidden;
  background: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 0.2rem solid #ccaa80;
}
.template10 .intro.intro_closed {
  transform: translateY(-100vh);
  opacity: 0;
  visibility: hidden;
}
.template10 .intro .title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.template10 .intro .title h1 {
  font-size: 10rem;
  color: #630606;
  font-family: "Allura", cursive;
  font-weight: 400;
  margin: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .template10 .intro .title h1 {
    font-size: 8rem;
  }
}
@media (max-width: 480px) {
  .template10 .intro .title h1 {
    font-size: 6rem;
  }
}
.template10 .intro .title p {
  font-size: 2.2rem;
  color: #630606;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .template10 .intro .title p {
    font-size: 2.2rem;
  }
}
@media (max-width: 768px) {
  .template10 .intro .title p {
    font-size: 1.8rem;
  }
}
@media (max-width: 480px) {
  .template10 .intro .title p {
    font-size: 1.8rem;
  }
}
.template10 .intro .groom_bride__intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Pinyon Script", cursive;
  font-size: 13rem;
  color: #333;
  width: 100%;
  text-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
}
@media (max-width: 1024px) {
  .template10 .intro .groom_bride__intro {
    font-size: 13rem;
  }
}
@media (max-width: 768px) {
  .template10 .intro .groom_bride__intro {
    font-size: 10rem;
  }
}
@media (max-width: 480px) {
  .template10 .intro .groom_bride__intro {
    font-size: 7rem;
  }
}
.template10 .intro .groom_bride__intro span {
  display: block;
}
.template10 .intro .wrapper_animation__Click {
  left: 50%;
  bottom: 18%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  color: #333;
  cursor: pointer;
  width: 21rem;
}
.template10 .intro .wrapper_animation__Click .icon_arrow__left .chevronLeft {
  color: #333;
  opacity: 0;
  animation: swipeUpFadeLeft 1.2s infinite;
}
.template10 .intro .wrapper_animation__Click .icon_arrow__left .chevronLeft:first-child {
  animation-delay: 0.4s;
}
.template10 .intro .wrapper_animation__Click .icon_arrow__left .chevronLeft:last-child {
  animation-delay: 0s;
}
.template10 .intro .wrapper_animation__Click .text {
  font-size: 1rem;
  color: #333;
  padding: 0 0.5rem;
  text-align: center;
  animation: swipeUpFadeUP 2s infinite;
  margin: auto;
}
.template10 .intro .wrapper_animation__Click .icon_arrow__right .chevronRight {
  color: #333;
  opacity: 0;
  animation: swipeUpFadeRight 1.2s infinite;
}
.template10 .intro .wrapper_animation__Click .icon_arrow__right .chevronRight:first-child {
  animation-delay: 0.4s;
}
.template10 .intro .wrapper_animation__Click .icon_arrow__right .chevronRight:last-child {
  animation-delay: 0s;
}
@keyframes swipeUpFadeUP {
  0% {
    opacity: 0;
    transform: translateY(3px);
  }
  30% {
    opacity: 1;
    transform: translateY(0);
  }
  60% {
    opacity: 0.5;
    transform: translateY(-1.5px);
  }
  100% {
    opacity: 0;
    transform: translateY(-3px);
  }
}
@keyframes swipeUpFadeLeft {
  100% {
    opacity: 0;
    transform: translateX(6px);
  }
  60% {
    opacity: 1;
    transform: translateX(0);
  }
  30% {
    opacity: 0.5;
    transform: translateX(-3px);
  }
  0% {
    opacity: 0;
    transform: translateX(-6px);
  }
}
@keyframes swipeUpFadeRight {
  0% {
    opacity: 0;
    transform: translateX(6px);
  }
  30% {
    opacity: 1;
    transform: translateX(0);
  }
  60% {
    opacity: 0.5;
    transform: translateX(-3px);
  }
  100% {
    opacity: 0;
    transform: translateX(-6px);
  }
}
.template10 .intro .invition_name {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, -8%);
  width: 100%;
  max-width: 55rem;
  margin: 0 auto;
  align-items: center;
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-transform: uppercase;
  color: #333;
  z-index: 5;
}
@media (max-width: 768px) {
  .template10 .intro .invition_name {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .template10 .intro .invition_name {
    font-size: 1.5rem;
  }
}
.template10 .intro .invition_name strong {
  font-family: "Allura", cursive;
  font-size: 3rem;
  text-transform: none;
  display: block;
  padding-top: 1rem;
  color: #333;
}
.template10 .dynamic {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(51, 51, 51, 0.9);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 20rem;
  height: 3.5rem;
  z-index: 9999;
  border-radius: 2rem;
  transition: all 0.3s ease;
  overflow: hidden;
  color: #fff;
  cursor: pointer;
  z-index: 98;
}
.template10 .dynamic.expanded {
  height: 9rem;
  max-width: 50rem !important;
  width: 30%;
  border-radius: 1.5rem;
}
.template10 .dynamic .dynamic_content {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.template10 .dynamic .dynamic_content .controls {
  cursor: pointer;
}
.template10 .dynamic .dynamic_content .playPauseIcon {
  width: 2rem;
  height: 2rem;
  color: #fff;
}
.template10 .dynamic .dynamic_content h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50rem;
}
.template10 .dynamic .expanded_content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.template10 .dynamic .expanded_content .song_info {
  text-align: center;
}
.template10 .dynamic .expanded_content .song_info h4 {
  margin: 0;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 26rem;
  font-weight: 600;
}
.template10 .dynamic .expanded_content .song_info p {
  margin: 0.5rem 0 0;
  font-size: 1.1rem;
  color: #ccc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 26rem;
}
.template10 .dynamic .expanded_content .progress_bar {
  width: 100%;
  height: 0.3rem;
  background: #555;
  border-radius: 0.15rem;
  overflow: hidden;
}
@media (max-width: 768px) {
  .template10 .dynamic {
    width: 18rem;
  }
  .template10 .dynamic.expanded {
    max-width: 50rem;
    width: 90vw;
  }
}
.template10 .wrapper {
  background: #fff;
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.template10 .wrapper .pss {
  position: relative;
}
.template10 .wrapper .pss .main {
  display: flex;
  flex-grow: 1;
  border-left: 1rem solid #630606;
  border-right: 1rem solid #630606;
  border-radius: 2rem 2rem 0 0;
  min-height: 70vh;
}
.template10 .wrapper .pss .main .text {
  flex: 1;
  padding-right: 2rem;
  position: relative;
}
.template10 .wrapper .pss .main .text::before, .template10 .wrapper .pss .main .text::after {
  content: "";
  position: absolute;
  left: 1rem;
  background-color: #111;
  border-radius: 1rem;
}
.template10 .wrapper .pss .main .text::before {
  top: 0;
  height: 20rem;
  width: 0.2rem;
}
.template10 .wrapper .pss .main .text::after {
  top: 0;
  left: 2rem;
  height: 15rem;
  width: 0.3rem;
}
.template10 .wrapper .pss .main .text span.line-shortest {
  position: absolute;
  top: 3rem;
  left: 1.8rem;
  width: 0.1rem;
  height: 4rem;
  background-color: #888;
  border-radius: 1rem;
  display: block;
}
.template10 .wrapper .pss .main .hexWrapper {
  width: 30rem;
  height: 60rem;
  position: relative;
}
.template10 .wrapper .pss .main .hexWrapper .hex {
  width: 20rem;
  height: 22rem;
  aspect-ratio: 1.1547;
  clip-path: polygon(49% 0, 100% 29%, 100% 71%, 50% 100%, 0 72%, 0 28%);
  position: absolute;
  box-sizing: border-box;
}
.template10 .wrapper .pss .main .hexWrapper .hex .hexIn {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.template10 .wrapper .pss .main .hexWrapper .hex0 {
  top: -118px;
  right: 103px;
}
.template10 .wrapper .pss .main .hexWrapper .hex1 {
  top: -119px;
  right: -100px;
}
.template10 .wrapper .pss .main .hexWrapper .hex2 {
  top: 42px;
  right: 0px;
}
.template10 .wrapper .pss .main .hexWrapper .hex3 {
  top: 42px;
  right: 203px;
}
.template10 .wrapper .pss .main .hexWrapper .hex4 {
  top: 201px;
  right: 102px;
}
.template10 .wrapper .pss .main .hexWrapper .hex5 {
  top: 203px;
  right: -100px;
}
.template10 .wrapper .pss .main .hexWrapper .hex6 {
  top: 361px;
  right: 1px;
}
.template10 .wrapper .pss .text_info {
  position: absolute;
  bottom: 0%;
  left: 2rem;
  right: 2rem;
}
@media (max-width: 480px) {
  .template10 .wrapper .pss .text_info {
    background: rgba(255, 255, 255, 0.5);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
  }
}
.template10 .wrapper .pss .text_info .date {
  text-transform: capitalize;
  font-size: 1.4rem;
}
.template10 .wrapper .pss .text_info p {
  font-size: 2rem;
  margin: 0;
}
.template10 .wrapper .pss .text_info .groom_name {
  font-size: 9rem;
  margin: 1rem 0 0;
  text-transform: capitalize;
  font-family: "Allura", cursive;
  font-weight: 500;
  color: #630606;
}
@media (max-width: 768px) {
  .template10 .wrapper .pss .text_info .groom_name {
    font-size: 8rem;
  }
}
@media (max-width: 480px) {
  .template10 .wrapper .pss .text_info .groom_name {
    font-size: 5rem;
  }
}
.template10 .wrapper .pss .text_info .bride_name {
  font-size: 9rem;
  margin: 1rem 0 0 5rem;
  text-transform: capitalize;
  position: relative;
  font-family: "Allura", cursive;
  font-weight: 500;
  color: #630606;
}
@media (max-width: 768px) {
  .template10 .wrapper .pss .text_info .bride_name {
    font-size: 8rem;
  }
}
@media (max-width: 480px) {
  .template10 .wrapper .pss .text_info .bride_name {
    font-size: 5rem;
  }
}
.template10 .wrapper .pss .text_info .bride_name::before {
  content: "";
  position: absolute;
  left: -3rem;
  width: 0.2rem;
  height: 100%;
  background: #333;
  border-radius: 1rem;
}
.template10 .wrapper .pss .text_info .bride_name::after {
  content: "";
  position: absolute;
  left: -2rem;
  width: 0.2rem;
  height: 100%;
  background: #333;
  border-radius: 1rem;
}
.template10 .wrapper .pss .text_info .description {
  padding: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333;
  position: relative;
  margin: 3rem 0 0 0;
}
@media (max-width: 480px) {
  .template10 .wrapper .pss .text_info .description {
    padding: 1rem 0;
  }
}
.template10 .wrapper .pss .text_info .description::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-top: 2px solid #a88;
  border-left: 2px solid #a88;
  border-top-left-radius: 0.5rem;
}
.template10 .wrapper .pss .text_info .description::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  border-bottom: 2px solid #a88;
  border-right: 2px solid #a88;
  border-top-left-radius: 0.5rem;
}
@media (max-width: 480px) {
  .template10 .wrapper .pss .text_info .description::before {
    left: -1.5rem;
  }
  .template10 .wrapper .pss .text_info .description::after {
    right: -1.5rem;
  }
}
.template10 .wrapper .flex_btn_choose_image {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  margin-top: 2rem;
}
.template10 .wrapper .flex_btn_choose_image h3 {
  display: block;
}
.template10 .wrapper .flex_btn_choose_image .btn_choose,
.template10 .wrapper .flex_btn_choose_image .btn_success {
  padding: 0.8rem 1.5rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  border: 0.1rem solid #333;
  border-radius: 1rem;
  cursor: pointer;
}
.template10 .wrapper .story_groom,
.template10 .wrapper .story_bride {
  padding: 4rem 1rem;
  margin-top: 2rem;
  text-align: center;
}
.template10 .wrapper .story_groom .flex_image_groom,
.template10 .wrapper .story_bride .flex_image_groom {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.template10 .wrapper .story_groom .flex_image_groom .box_image,
.template10 .wrapper .story_bride .flex_image_groom .box_image {
  border-radius: 1rem;
  overflow: hidden;
  width: 35rem;
  height: 45rem;
}
@media (max-width: 768px) {
  .template10 .wrapper .story_groom .flex_image_groom .box_image,
  .template10 .wrapper .story_bride .flex_image_groom .box_image {
    height: 40rem;
  }
}
@media (max-width: 480px) {
  .template10 .wrapper .story_groom .flex_image_groom .box_image,
  .template10 .wrapper .story_bride .flex_image_groom .box_image {
    height: 25rem;
  }
}
.template10 .wrapper .story_groom .flex_image_groom .box_image:nth-child(2),
.template10 .wrapper .story_bride .flex_image_groom .box_image:nth-child(2) {
  margin-top: 5rem;
  margin-bottom: -5rem;
}
.template10 .wrapper .story_groom .flex_image_groom .box_image:nth-child(1),
.template10 .wrapper .story_bride .flex_image_groom .box_image:nth-child(1) {
  transform: scale(1);
}
.template10 .wrapper .story_groom .flex_image_groom .box_image:nth-child(3),
.template10 .wrapper .story_bride .flex_image_groom .box_image:nth-child(3) {
  transform: scale(1);
}
.template10 .wrapper .story_groom .flex_image_groom .box_image img,
.template10 .wrapper .story_bride .flex_image_groom .box_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.template10 .wrapper .story_groom .story_groom__wrapper h1,
.template10 .wrapper .story_groom .story_bride__wrapper h1,
.template10 .wrapper .story_bride .story_groom__wrapper h1,
.template10 .wrapper .story_bride .story_bride__wrapper h1 {
  font-size: 5rem;
  margin: 1rem 0 0;
  text-transform: capitalize;
  font-family: "Allura", cursive;
  font-weight: 500;
  color: #333;
  margin-bottom: 0;
}
.template10 .wrapper .story_groom .story_groom__wrapper .for_groom,
.template10 .wrapper .story_groom .story_groom__wrapper .for_bride,
.template10 .wrapper .story_groom .story_bride__wrapper .for_groom,
.template10 .wrapper .story_groom .story_bride__wrapper .for_bride,
.template10 .wrapper .story_bride .story_groom__wrapper .for_groom,
.template10 .wrapper .story_bride .story_groom__wrapper .for_bride,
.template10 .wrapper .story_bride .story_bride__wrapper .for_groom,
.template10 .wrapper .story_bride .story_bride__wrapper .for_bride {
  font-size: 3rem;
  margin: 1rem 0;
  text-transform: capitalize;
  font-weight: 400;
  font-family: "Pinyon Script", cursive;
  color: #ccaa80;
}
.template10 .wrapper .story_groom .story_groom__wrapper .story_text,
.template10 .wrapper .story_groom .story_bride__wrapper .story_text,
.template10 .wrapper .story_bride .story_groom__wrapper .story_text,
.template10 .wrapper .story_bride .story_bride__wrapper .story_text {
  font-size: 2rem;
  line-height: 1.5;
  color: #333;
  font-family: "Allura", cursive;
}
.template10 .wrapper .info {
  text-align: center;
  margin: 1rem 0;
  border-radius: 1rem;
  margin-top: 6rem;
}
.template10 .wrapper .info .info_family {
  display: flex;
  margin: 1rem 0 3rem 0;
}
.template10 .wrapper .info .info_family .groom_family {
  flex: 1 1;
}
.template10 .wrapper .info .info_family .groom_family p {
  font-size: 1.4rem;
  color: #555;
}
.template10 .wrapper .info .info_family .bride_family {
  flex: 1 1;
}
.template10 .wrapper .info .info_family .bride_family p {
  font-size: 1.4rem;
  color: #555;
}
.template10 .wrapper .info span {
  font-size: 1.4rem;
}
.template10 .wrapper .info h3 {
  font-size: 2.5rem;
  color: #ccaa80;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.template10 .wrapper .info h3 strong {
  font-size: 2rem;
  color: #ccaa80;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .template10 .wrapper .info h3 {
    font-size: 2.3rem;
  }
  .template10 .wrapper .info h3 strong {
    font-size: 1.8rem;
  }
}
@media (max-width: 480px) {
  .template10 .wrapper .info h3 {
    font-size: 1.6rem;
  }
  .template10 .wrapper .info h3 strong {
    font-size: 1.4rem;
  }
}
.template10 .wrapper .info .groom_name,
.template10 .wrapper .info .bride_name {
  font-family: "Pinyon Script", cursive;
  font-size: 12rem;
  color: #333;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .template10 .wrapper .info .groom_name,
  .template10 .wrapper .info .bride_name {
    font-size: 9rem;
  }
}
@media (max-width: 480px) {
  .template10 .wrapper .info .groom_name,
  .template10 .wrapper .info .bride_name {
    font-size: 7rem;
  }
}
.template10 .wrapper .info .bride_name {
  padding-bottom: 1rem;
}
.template10 .wrapper .info .and {
  font-family: "Allura", cursive;
  font-size: 5rem;
  font-weight: 400;
  text-transform: none;
  color: #333;
}
.template10 .wrapper .info .specific_time {
  margin-top: 4rem;
}
.template10 .wrapper .info .specific_time h4 {
  font-size: 2rem;
  color: #ccaa80;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  margin: 2rem auto 2rem auto;
  line-height: 1.5;
  margin-bottom: 0;
  padding: 1rem 0;
}
@media (max-width: 768px) {
  .template10 .wrapper .info .specific_time h4 {
    font-size: 1.8rem;
  }
  .template10 .wrapper .info .specific_time h4 strong {
    font-size: 1.8rem;
  }
}
@media (max-width: 480px) {
  .template10 .wrapper .info .specific_time h4 {
    font-size: 1.6rem;
  }
  .template10 .wrapper .info .specific_time h4 strong {
    font-size: 1.4rem;
  }
}
.template10 .wrapper .info .specific_time > * {
  position: relative;
  z-index: 1;
}
.template10 .wrapper .info .specific_time .time_day {
  font-size: 2.3rem;
  color: #ccaa80;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  margin: 2rem auto;
}
.template10 .wrapper .info .specific_time .time_day strong {
  font-weight: 400;
}
.template10 .wrapper .info .specific_time .time_day .wrapper_times {
  margin: auto;
  display: flex;
  justify-content: center;
}
.template10 .wrapper .info .specific_time .time_day .wrapper_times .flex {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 8rem 0 0 0;
  font-weight: 400;
}
@media (max-width: 768px) {
  .template10 .wrapper .info .specific_time .time_day .wrapper_times .flex {
    padding: 5rem 0 0 0;
  }
}
@media (max-width: 480px) {
  .template10 .wrapper .info .specific_time .time_day .wrapper_times .flex {
    padding: 4rem 0 0 0;
  }
}
.template10 .wrapper .info .specific_time .time_day .wrapper_times .flex .br {
  margin-top: -8rem;
  color: #fff;
}
@media (max-width: 768px) {
  .template10 .wrapper .info .specific_time .time_day .wrapper_times .flex .br {
    margin-top: -5rem;
  }
}
@media (max-width: 480px) {
  .template10 .wrapper .info .specific_time .time_day .wrapper_times .flex .br {
    margin-top: -4rem;
  }
}
.template10 .wrapper .info .specific_time .time_day .wrapper_times .flex .br strong {
  border-bottom: 0.1rem solid #ccaa80;
  font-size: 10rem;
}
@media (max-width: 768px) {
  .template10 .wrapper .info .specific_time .time_day .wrapper_times .flex .br strong {
    font-size: 8rem;
  }
}
@media (max-width: 480px) {
  .template10 .wrapper .info .specific_time .time_day .wrapper_times .flex .br strong {
    font-size: 7rem;
  }
}
.template10 .wrapper .info .specific_time .time_day .wrapper_times .flex .br span {
  font-size: 3rem;
  font-weight: 400;
}
@media (max-width: 768px) {
  .template10 .wrapper .info .specific_time .time_day .wrapper_times .flex {
    font-size: 3rem;
  }
}
@media (max-width: 480px) {
  .template10 .wrapper .info .specific_time .time_day .wrapper_times .flex {
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  .template10 .wrapper .info .specific_time .time_day {
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  .template10 .wrapper .info .specific_time .time_day {
    font-size: 1.5em;
    text-shadow: 0 0 0.3rem #151414, 0 0 0.6rem #171717;
    font-weight: 550;
  }
}
.template10 .wrapper .info .lunar_day {
  font-size: 2.5rem;
  color: #ccaa80;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  margin: 2rem auto;
}
@media (max-width: 768px) {
  .template10 .wrapper .info .lunar_day {
    font-size: 2.3rem;
  }
}
@media (max-width: 480px) {
  .template10 .wrapper .info .lunar_day {
    font-size: 1.7rem;
  }
}
.template10 .wrapper .info .honor_message {
  font-size: 2.5rem;
  color: #ccaa80;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  margin: 5rem auto 2rem auto;
  line-height: 1.5;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .template10 .wrapper .info .honor_message {
    font-size: 2.3rem;
  }
}
@media (max-width: 480px) {
  .template10 .wrapper .info .honor_message {
    font-size: 1.5rem;
  }
}
.template10 .wrapper .flex_time_details {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 4rem 0;
}
.template10 .wrapper .flex_time_details .image {
  flex: 1 1;
  overflow: hidden;
  border-radius: 1rem;
}
.template10 .wrapper .flex_time_details .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.template10 .wrapper .flex_time_details .box {
  flex: 1 1;
  text-align: center;
  padding: 0 0.5rem 0 0;
}
.template10 .wrapper .flex_time_details .box h1 {
  font-size: 4.5rem;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .template10 .wrapper .flex_time_details .box h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 480px) {
  .template10 .wrapper .flex_time_details .box h1 {
    font-size: 2.5rem;
  }
}
.template10 .wrapper .flex_time_details .box span {
  font-size: 4.5rem;
  font-weight: 400;
  letter-spacing: 1rem;
  color: #ccaa80;
}
@media (max-width: 768px) {
  .template10 .wrapper .flex_time_details .box span {
    font-size: 3.5rem;
  }
}
@media (max-width: 480px) {
  .template10 .wrapper .flex_time_details .box span {
    font-size: 2rem;
  }
}
.template10 .wrapper .calendar {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 0rem 1rem 1rem 1rem;
  border-top: 0.2rem solid #ccaa80;
  position: relative;
}
.template10 .wrapper .calendar .calendarHeader h3 {
  font-size: 3.5rem;
  color: #ccaa80;
  font-family: "Pinyon Script", cursive;
  margin: 1rem;
}
.template10 .wrapper .calendar .calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  padding: 1rem;
  border-radius: 8px;
}
.template10 .wrapper .calendar .dayName {
  font-weight: bold;
  color: #333;
  text-align: center;
  padding: 8px;
  font-size: 1.5rem;
}
.template10 .wrapper .calendar .calendarDay {
  padding: 8px;
  text-align: center;
  font-size: 2rem;
  color: #333;
  border-radius: 50%;
  transition: background-color 0.3s;
  position: relative;
  font-family: "Sue Ellen Francisco", cursive;
  font-weight: 400;
  font-style: normal;
}
.template10 .wrapper .calendar .calendarDay.emptyDay {
  background-color: transparent;
  z-index: 99999 !important;
  position: relative;
  color: #151414;
}
.template10 .wrapper .calendar .calendarDay.weddingDay {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Sue Ellen Francisco", cursive;
  font-weight: 500;
  font-style: normal;
}
.template10 .wrapper .calendar .calendarDay.weddingDay .weddingDayContent {
  position: relative;
  z-index: 2;
  font-size: 1.6rem;
  color: #630606;
  font-weight: 550;
}
.template10 .wrapper .calendar .calendarDay.weddingDay .heartIcon {
  position: absolute;
  z-index: -1;
  font-size: 4rem;
  color: #ccaa80;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.template10 .wrapper .count {
  position: relative;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.template10 .wrapper .count .countdownContainer {
  position: relative;
  width: 100%;
  max-width: 80rem;
  padding: 0 1rem;
  display: flex;
  min-height: 20vh;
}
.template10 .wrapper .count .countdownContainer .timerSection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.template10 .wrapper .count .countdownContainer .timerSection .title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: #333;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .template10 .wrapper .count .countdownContainer .timerSection .title {
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  .template10 .wrapper .count .countdownContainer .timerSection .title {
    font-size: 1.5rem;
  }
}
.template10 .wrapper .count .countdownContainer .timerSection .timerDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.template10 .wrapper .count .countdownContainer .timerSection .timerDisplay .timeGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}
.template10 .wrapper .count .countdownContainer .timerSection .timerDisplay .timeGroup .timeValue {
  font-size: 5rem;
  font-weight: 800;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  color: #333;
}
@media (max-width: 768px) {
  .template10 .wrapper .count .countdownContainer .timerSection .timerDisplay .timeGroup .timeValue {
    font-size: 5rem;
  }
}
@media (max-width: 480px) {
  .template10 .wrapper .count .countdownContainer .timerSection .timerDisplay .timeGroup .timeValue {
    font-size: 3rem;
  }
}
.template10 .wrapper .count .countdownContainer .timerSection .timerDisplay .timeGroup .timeUnit {
  font-size: 1.2rem;
  margin: 0.5rem 0 0.7rem 0;
}
@media (max-width: 768px) {
  .template10 .wrapper .count .countdownContainer .timerSection .timerDisplay .timeGroup .timeUnit {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .template10 .wrapper .count .countdownContainer .timerSection .timerDisplay .timeGroup .timeUnit {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}
.template10 .wrapper .wrapper_map {
  border-bottom: 0.2rem solid #ccaa80;
  padding-bottom: 1rem;
}
.template10 .wrapper .wrapper_map .flex_btn__map {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 768px) {
  .template10 .wrapper .wrapper_map .flex_btn__map {
    padding: 1.5rem 1rem;
  }
}
@media (max-width: 480px) {
  .template10 .wrapper .wrapper_map .flex_btn__map {
    padding: 1.5rem 1rem;
  }
}
.template10 .wrapper .wrapper_map .flex_btn__map .map_groom {
  flex: 1 1;
  border: 0.1rem solid rgba(51, 51, 51, 0.2);
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  text-transform: capitalize;
}
.template10 .wrapper .wrapper_map .flex_btn__map .map_groom svg {
  margin-right: 0.5rem;
}
@media (max-width: 768px) {
  .template10 .wrapper .wrapper_map .flex_btn__map .map_groom {
    border-radius: 1rem;
  }
}
@media (max-width: 480px) {
  .template10 .wrapper .wrapper_map .flex_btn__map .map_groom {
    border-radius: 1rem;
  }
}
.template10 .wrapper .wrapper_map .flex_btn__map .map_bride {
  flex: 1 1;
  border: 0.1rem solid rgba(51, 51, 51, 0.2);
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  text-transform: capitalize;
}
.template10 .wrapper .wrapper_map .flex_btn__map .map_bride svg {
  margin-right: 0.5rem;
}
@media (max-width: 768px) {
  .template10 .wrapper .wrapper_map .flex_btn__map .map_bride {
    border-radius: 1rem;
  }
}
@media (max-width: 480px) {
  .template10 .wrapper .wrapper_map .flex_btn__map .map_bride {
    border-radius: 1rem;
  }
}
.template10 .wrapper .wrapper_map .google_map {
  overflow: hidden;
  border-radius: 1rem;
}
.template10 .wrapper .wrapper_map .google_map iframe {
  border: none;
  width: 100%;
  height: 50rem;
}
.template10 .wrapper .wrapper_map .google_map img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.template10 .wrapper .album_wedding {
  text-align: center;
}
.template10 .wrapper .album_wedding .title {
  font-size: 7.5rem;
  margin: 1rem 0;
  font-family: "Allura", cursive;
  font-weight: 400;
  color: #ccaa80;
  padding-top: 1.5rem;
}
@media (max-width: 768px) {
  .template10 .wrapper .album_wedding .title {
    font-size: 7rem;
  }
}
@media (max-width: 480px) {
  .template10 .wrapper .album_wedding .title {
    font-size: 5.5rem;
  }
}
.template10 .wrapper .album_wedding .bento_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 2rem 0.5rem;
  max-width: 80rem;
  margin: auto;
}
.template10 .wrapper .album_wedding .bento_grid .box,
.template10 .wrapper .album_wedding .bento_grid .boxTall,
.template10 .wrapper .album_wedding .bento_grid .boxWide {
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  border: 0.1rem solid #dbdbdb;
}
@media (max-width: 1024px) {
  .template10 .wrapper .album_wedding .bento_grid .box,
  .template10 .wrapper .album_wedding .bento_grid .boxTall,
  .template10 .wrapper .album_wedding .bento_grid .boxWide {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .template10 .wrapper .album_wedding .bento_grid .box,
  .template10 .wrapper .album_wedding .bento_grid .boxTall,
  .template10 .wrapper .album_wedding .bento_grid .boxWide {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .template10 .wrapper .album_wedding .bento_grid .box,
  .template10 .wrapper .album_wedding .bento_grid .boxTall,
  .template10 .wrapper .album_wedding .bento_grid .boxWide {
    height: 20rem;
  }
}
.template10 .wrapper .album_wedding .bento_grid .box img,
.template10 .wrapper .album_wedding .bento_grid .boxTall img,
.template10 .wrapper .album_wedding .bento_grid .boxWide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.template10 .wrapper .album_wedding .bento_grid .boxWide {
  grid-column: span 2;
}
.template10 .wrapper .footer {
  margin: auto;
  max-width: 80rem;
  width: 100%;
  padding: 2rem 0 5rem 0;
}
.template10 .wrapper .footer .column_text {
  text-align: center;
  max-width: 80rem;
  width: 95%;
  margin: auto;
}
.template10 .wrapper .footer .column_text h3 {
  font-size: 5.5rem;
  margin: 0;
  font-family: "Allura", cursive;
  font-weight: 400;
  color: #333;
}
.template10 .wrapper .footer .column_text .subtext {
  font-size: 2.8rem;
  width: 25rem;
  line-height: 1.5;
  font-family: "Allura", cursive;
  color: #333;
}
@media (max-width: 768px) {
  .template10 .wrapper .footer .column_text .subtext {
    font-size: 2.5rem;
  }
}
@media (max-width: 480px) {
  .template10 .wrapper .footer .column_text .subtext {
    font-size: 1.8rem;
  }
}
.template10 .wrapper .footer img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=10.module.css.map */