.recruitment_home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  // background-color: #f5f5f5;
  background-color: #fff;
  padding: 2rem;
  position: relative;
  overflow: hidden;
}

.text_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 50%;
  margin-right: -78rem;
}

.text_container {
  position: absolute;
  top: 40%;
  left: 5%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  border: .3rem dashed red;
  padding: 2rem;
  border-radius: 1rem;
}

.text_item {
  font-size: 4vw;
  font-weight: 700;
  color: #1a1a1a;
  opacity: 0;
  transform: translateY(1rem);
  animation: fadeInUp 0.6s ease-out forwards;

  &:nth-child(2) {
    position: relative;
    /* Removed ::after for the apostrophe */
  }
}

.box_item {
  position: absolute;
  background-color: #fff;
  border: 0.1rem solid #e0e0e0;
  border-radius: 0.5rem;
  padding: 1.2rem 2rem;
  font-size: 1.7rem;
  font-weight: 500;
  color: #333;
  opacity: 0;
  transform: translateY(1rem) scale(1);
  animation: fadeInUp 0.6s ease-out forwards;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05);
  text-align: center;
  white-space: nowrap;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.2) !important;
    cursor: pointer;
    border: 0.1rem dashed #8888ff;
    background: #c8f0ff;
    transition: transform 0.3s ease;
    z-index: 999 !important;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}