// background: linear-gradient(to right, #f0f4ff, #ffffff);
.main {

  padding: 3rem 5%;
  min-height: 100vh;
  // background: linear-gradient(to right, #f0f4ff, #ffffff, #f0f4ff);
  background: #fff;

  .heading {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #1a1a1a;
  }

  .banner_home {
    background: #fff;
    width: 100%;
    height: 30rem;
    border-radius: 1rem;
    border: 0.1rem solid #dbdbdb;
    overflow: hidden;
    position: relative;

    .banner_imgleft {
      position: absolute;
      top: 0;
      left: -5rem;
      max-width: 25rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .banner_text {
      position: absolute;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #5c4033; // A soft brown to match the floral tones

      h2 {
        font-family: 'Sacramento', cursive;
        font-size: 3rem;
        margin: 0;
        line-height: 1;

      }

      h1 {
        font-family: 'Sacramento', cursive;
        font-size: 3rem;
        margin: 0.5rem 0;
        line-height: 1;
        padding: .8rem 0;
      }

      h3 {
        font-family: 'Sacramento', cursive;
        font-size: 2.5rem;
        margin: 0;
        line-height: 1;
      }
    }

    .banner_imgright {
      position: absolute;
      top: 4rem;
      right: 8rem;
      max-width: 16rem;
      transform: rotate(-277deg);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .layer_default {
    margin-top: 2rem;

    h2 {
      font-size: 2rem;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
      gap: 2rem;
      margin-top: 2rem;

      .card_product {
        background: #fff;
        overflow: hidden;
        border-radius: 1rem;
        cursor: pointer;

        .image_products {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

}