.notifies_important {
    padding: 0;
    position: relative;

    .notify_swiper {
        /* Để có không gian cho navigation */
    }

    .box_notifycations {
        margin-top: 1rem;
        border-left: 0.5rem solid #0e60d8;
        border-radius: 1rem;
        height: 100%;
        background: var(--bg-White, #fff);
        padding: 1.5rem;

        h3 {
            color: #0e60d8;
            font-size: 1.5rem;
            text-transform: none;
        }

        span {
            margin-left: 2.7rem;
            font-size: 1.3rem;
            line-height: 1.6;

            .bold {
                font-weight: bold;
                color: var(--viewDetails);
            }

            a {
                color: #33b451;
            }

            strong {
                margin-left: 2.7rem;
                display: block;
                color: #526888;
            }
        }
    }

    .swiper_navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 1.5rem;
        right: -56rem;
        width: 100%;
        gap: 1rem;
        z-index: 10;
    }

    .swiper_button_prev,
    .swiper_button_next {
        width: 3rem;
        height: 3rem;
        background-color: #fff;
        border-radius: .5rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s;

        &:hover {
            background-color: #d0d0d0;
        }

        &::after {
            font-size: 1.2rem;
            color: #fff;
            /* Mũi tên trắng */
            font-weight: bold;
        }
    }

    svg {
        font-size: 1.4rem;
    }

    .swiper_pagination_fraction {
        font-size: 1.2rem;
        color: #333;
        font-weight: 500;

        .swiper_pagination_current,
        .swiper_pagination_total {
            margin: 0 0.2rem;
        }
    }
}