.intro_invition {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    max-width: 55rem;
    width: 100%;
    margin: auto;
    background: #640606;
    cursor: grab;
    overflow: hidden;
    height: 100vh;
    transform: translateY(0%);
    opacity: 1;
    transition: transform 1.5s ease, opacity 1.5s ease;

    &.visible {
        transform: translateY(0%);
        opacity: 1;
    }

    &.hidden {
        transform: translateY(-100%);
        opacity: 0;
    }

    .wrapper {
        padding: 15rem 0;
        text-align: center;
        z-index: 2 !important;
        height: 100%;
        width: 100%;
        box-sizing: border-box;

        .image_psb__TL {
            position: absolute;
            top: 0;
            left: 0;
            max-width: 25rem;
            z-index: 1;
            opacity: 1;
            transition: opacity 0.3s ease;
            user-select: none;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }
        }

        .image_psb__BR {
            position: absolute;
            bottom: 0;
            right: 0;
            max-width: 13rem;
            z-index: 1;
            opacity: 1;
            transition: opacity 0.3s ease;
            user-select: none;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: rotate(180deg);
                z-index: 1;
            }
        }

        .text {
            font-size: 2rem;
            color: #fff;
            text-transform: uppercase;
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 1;
            transition: opacity 0.3s ease;
            user-select: none;
            width: 100%;
        }

        .mar {
            position: absolute;
            top: 48%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            padding: 1rem;
            opacity: 1;
            transition: opacity 0.3s ease;
            user-select: none;

            .groom_name,
            .bride_name {
                font-size: 6rem;
                font-family: "Allura", cursive;
                color: #ffff;
                font-weight: 400;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                text-transform: capitalize;
                opacity: 1;
                transition: opacity 0.3s ease;
                user-select: none;
            }

            .and {
                text-align: center;
                font-size: 5rem;
                font-family: "Allura", cursive;
                color: #fff;
                font-weight: 500;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                text-transform: capitalize;
                opacity: 1;
                transition: opacity 0.3s ease;
                user-select: none;
            }

            .groom_name {
                text-align: left;
                opacity: 1;
                transition: opacity 0.3s ease;
                user-select: none;
            }

            .bride_name {
                text-align: right;
                opacity: 1;
                transition: opacity 0.3s ease;
                user-select: none;
            }
        }

        .box_dateTime {
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            width: 100%;
            opacity: 1;
            transition: opacity 0.3s ease;
            user-select: none;

            .dateTime {
                flex: 1 1 12rem;
                height: 100%;
                border-right: 0.2rem solid #fff;
                max-width: 20rem;
                width: 100%;
                height: 17rem;
                padding: 0 1rem;
                opacity: 1;
                transition: opacity 0.3s ease;
                user-select: none;

                span {
                    display: block;
                    color: #fff;
                    padding: 1rem;
                    text-transform: uppercase;
                }

                .day {
                    font-size: 2.5rem;
                    border-bottom: 0.1rem;
                    opacity: 1;
                    transition: opacity 0.3s ease;
                    user-select: none;
                }

                .month {
                    font-size: 2rem;
                    border-bottom: 0.1rem solid #c38f;
                    opacity: 1;
                    transition: opacity 0.3s ease;
                    user-select: none;
                }

                .year {
                    font-size: 2.5rem;
                    opacity: 1;
                    transition: opacity 0.3s ease;
                    user-select: none;
                }
            }

            .inviton_name {
                flex: 1 1 32rem;
                width: 100%;
                text-align: left;
                padding-left: 2rem;
                color: #fff;

                .invition {
                    font-size: 3rem;
                    font-family: "Allura", cursive;
                    opacity: 1;
                    transition: opacity 0.3s ease;
                    user-select: none;
                }

                .name {
                    font-size: 4rem;
                    font-family: "Allura", cursive;
                    margin: 0;
                    font-weight: 400;
                    opacity: 1;
                    transition: opacity 0.3s ease;
                    user-select: none;
                }
            }
        }
    }

    .swipe_up {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        color: #ccc;
        gap: 0.5rem;
        background: rgba(0, 0, 0, 0.02);

        .wrapper_swipeUp {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6px;
            position: absolute;
            top: 5%;

            .chevron {
                color: #fff;
                opacity: 0;
                animation: swipeUpFade 1.2s infinite;

                &:first-child {
                    animation-delay: 0.4s;
                }

                &:last-child {
                    animation-delay: 0s;
                }
            }
        }
    }

    @keyframes swipeUpFade {
        0% {
            opacity: 0;
            transform: translateY(6px);
        }

        30% {
            opacity: 1;
            transform: translateY(0);
        }

        60% {
            opacity: 0.5;
            transform: translateY(-3px);
        }

        100% {
            opacity: 0;
            transform: translateY(-6px);
        }
    }
}