.control_navigation {
    position: fixed;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to bottom, rgb(218, 174, 131), rgba(240, 221, 200, 1));
    backdrop-filter: blur(10px);
    width: 55rem;
    z-index: 999999;
    border-radius: 0.5rem;
    transition: all .5s ease-in-out;
    color: #333;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 50rem;
    border-bottom-right-radius: 50rem;
    height: 5rem;
}

.control_navigation.expanded {
    height: 100%;
    height: 102vh;
    border-radius: 0;
    flex-direction: column;
    justify-content: space-between;
}

.btn_dropdown {
    padding: 2rem;
    font-size: 3rem;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    margin: 0 auto;
    /* Center horizontally */
}

.control_navigation.expanded .btn_dropdown {
    transform: rotate(180deg);
    /* Rotate chevron when expanded */
}

.popup_container {
    width: 100%;
    opacity: 0;
    /* Start hidden for animation */
    transform: translateY(-20px);
    /* Start slightly above */
    animation: slideIn 1.5s ease-in-out forwards;
    /* Fade and slide in */
    padding: 1rem;
    /* Add spacing around popup */
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}