/* Border layer full màn */
.border_layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    border: 6px solid transparent;
    border-image: linear-gradient(90deg,
            rgba(255, 204, 0, 0.4) 0%,
            rgba(255, 102, 102, 0.4) 25%,
            rgba(204, 102, 204, 0.4) 50%,
            rgba(102, 204, 255, 0.4) 100%);
    border-image-slice: 1;

    background: rgba(255,255,255, .3);
    /* nền xám mờ */
    backdrop-filter: blur(1rem);
    /* hiệu ứng blur */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Popup nằm bên trong border layer */
.popup_content {
    z-index: 9;
    position: relative;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}

.close_button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}