@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.OutstandingTool {
    transition: all 0.3s ease-in-out;
    background: linear-gradient(135deg,
            rgba(255, 128, 0, 0.8),
            rgba(59, 56, 222, 0.8),
            rgba(142, 45, 45, 0.2));
    background-size: 300% 300%;
    animation: gradient-animation 6s ease infinite;


    .OutstandingTool__container {
        position: relative;
        display: flex;
        min-height: 100vh;

        .headers {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            h1 {
                margin: auto;
                font-size: 4.5vw;
                text-transform: capitalize;
                display: block;
                color: var(--colorWhiteText);
            }

            .control_button {
                text-align: center;
                margin-top: 2rem;

                .btn__control {
                    padding: 1.2rem 4rem;
                    font-size: 1.5rem;
                    border-radius: 5rem;
                    margin-right: 1rem;
                    background: var(--viewDetails);
                    color: var(--colorWhiteText);
                }

                .btn__details {
                    padding: 1.2rem 4rem;
                    font-size: 1.5rem;
                    border-radius: 5rem;
                    border: .1rem solid var(--border);
                    margin-left: 1rem;
                    color: var(--colorWhiteText);
                    background: none;
                }
            }
        }

        .box {
            padding: 2rem;
            height: 8rem;
            background: var(--bg-White);
            border-radius: 1rem;
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

            &.active {
                transform: scale(1.1);
                box-shadow: 0 .5rem 1rem rgba(225, 225, 225, .2);
            }

            &:hover {
                border: .1rem solid var(--viewDetails);
            }

            h2 {
                font-size: 1.7rem;
                margin-bottom: 1rem;
            }

            a {
                color: var(--viewDetails);
                font-size: 1.25rem;
            }
        }

        .box:nth-child(2) {
            position: absolute;
            top: 15%;
            left: 14%;
            transition: all .4s ease-in-out;

        }

        .box:nth-child(3) {
            position: absolute;
            top: 50%;
            left: 2%;
            transition: all .4s ease-in-out;

            &:hover {
                border: .1rem solid var(--viewDetails);
            }
        }

        .box:nth-child(4) {
            position: absolute;
            left: 7%;
            bottom: 6%;
            transition: all .4s ease-in-out;

            &:hover {
                border: .1rem solid var(--viewDetails);
            }
        }

        .box:nth-child(5) {
            position: absolute;
            top: 15%;
            right: 14%;
            transition: all .4s ease-in-out;

            &:hover {
                border: .1rem solid var(--viewDetails);
            }
        }

        .box:nth-child(6) {
            position: absolute;
            top: 50%;
            right: 0;
            transition: all .4s ease-in-out;

            &:hover {
                border: .1rem solid var(--viewDetails);
            }
        }

        .box:nth-child(7) {
            position: absolute;
            right: 7%;
            bottom: 6%;
            transition: all .4s ease-in-out;

            &:hover {
                border: .1rem solid var(--viewDetails);
            }
        }

    }

    &.expend {
        .box:nth-child(2) {
            position: absolute;
            top: 27%;
            left: 25%;
            transition: all .4s ease-in-out;

            &:hover {
                border: .1rem solid var(--viewDetails);
            }
        }

        .box:nth-child(3) {
            position: absolute;
            top: 50%;
            left: 12%;
            transition: all .4s ease-in-out;

            &:hover {
                border: .1rem solid var(--viewDetails) !important;
            }
        }

        .box:nth-child(4) {
            position: absolute;
            left: 20%;
            bottom: 20%;
            transition: all .4s ease-in-out;

            &:hover {
                border: .1rem solid var(--viewDetails) !important;
            }
        }

        .box:nth-child(5) {
            position: absolute;
            top: 27%;
            right: 25%;
            transition: all .4s ease-in-out;

            &:hover {
                border: .1rem solid var(--viewDetails) !important;
            }
        }

        .box:nth-child(6) {
            position: absolute;
            top: 50%;
            right: 9%;
            transition: all .4s ease-in-out;

            &:hover {
                border: .1rem solid var(--viewDetails) !important;
            }
        }

        .box:nth-child(7) {
            position: absolute;
            right: 20%;
            bottom: 20%;
            transition: all .4s ease-in-out;

            &:hover {
                border: .1rem solid var(--viewDetails) !important;
            }
        }


    }
}