.border_layer {
    position: fixed;
    right: 5%;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    z-index: 9999 !important;
}

.gemini_button {
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.1);
    padding: 1rem;
    background: rgba(255,255,255, .5);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.05);

    svg {
        z-index: 2;
        position: relative;
    }
}

.gemini_button::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 50%;
    // background: conic-gradient(from 0deg,
    //         #b900f6,
    //         #ff3c68,
    //         #ff6200,
    //         #b900f6);
    // animation: rotateBorder 4s linear infinite;
    z-index: 0;
    filter: blur(4px);
}

@keyframes rotateBorder {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.gemini_button:hover {
    transform: scale(1.08);
}