.jobDetail {
    padding: 5rem 10%;
    background: var(--background);

    .company {
        background: var(--bg-White);
        border-radius: 5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 2rem;
        padding: 1rem 2rem;

        .name_company {
            font-size: 2.5rem;
            font-weight: var(--weight550);

            .basic_infomation_item {
                display: flex;
                align-items: center;
                gap: 1.5rem;
                font-size: 1.3rem;
                max-width: 50rem;
                width: 100%;
                margin-top: 1rem;

                svg {
                    font-size: 1.7rem;
                    padding: 1rem 1.2rem;
                    background: #e6f6ed;
                    border-radius: 5rem;
                }

                p {
                    display: block;
                    font-size: 1.4rem;
                    font-weight: var(--weight550);
                }
            }
        }

        .image_company {
            border: .1rem solid var(--border);
            border-radius: 50%;
            overflow: hidden;
            max-width: 10rem;
            height: 10rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;

                transform: scale(.6);

            }
        }
    }

    .infomation {
        flex: 1 1 55rem;
        max-width: 100rem;
        width: 100%;
        background: var(--bg-White);
        padding: 2rem;
        border-radius: .5rem;

        .wrapper_infomation {
            .basic_infomation {
                .infomation_Content_Title_job {
                    font-size: 1.9rem;
                }

                .infomation_Content_section {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    margin: 2.5rem 0;
                    gap: 4rem;

                    .basic_infomation_item {
                        text-align: center;
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                        font-size: 1.3rem;

                        svg {
                            font-size: 2.2rem;
                            padding: 1rem 1.2rem;
                            background: #e6f6ed;
                            border-radius: 5rem;
                            margin-bottom: 1rem;
                        }

                        p {
                            display: block;
                            text-align: center;
                            font-size: 1.3rem;
                            font-weight: var(--weight550);
                        }
                    }
                }

                .box_apply_current {
                    margin: 1.5rem 0;
                    padding: 1.2rem 1.5rem;
                    background: var(--globalColor);
                    text-align: center;
                    border-radius: .3rem;
                    font-size: 1.5rem;
                    font-weight: var(--weight550);
                    color: var(--colorWhiteText);
                    display: block;
                }
            }

            .basic_infomation_description,
            .basic_infomation_requesment,
            .basic_infomation_benifet {
                padding: 2rem;
                border-radius: 1rem;
                background: #f6f7f7;
                margin-top: 1.5rem;

                h3 {
                    font-size: 1.7rem;
                    margin-bottom: 1rem;
                }

                span {
                    font-size: 1.3rem;
                    line-height: 1.5;
                }
            }
        }
    }

    .wraper__generalInformation {
        flex: 1 1 15rem;
        width: 100%;

        .generalInformation {
            background: var(--bg-White);
            padding: 2rem;
            border-radius: .5rem;
            height: auto;
           

            h3 {
                font-size: 1.7rem;
            }

            .generalInformation_item {
                gap: .4rem;
                padding: 1.65rem 0;
                font-size: 1.4rem;
                display: grid;
                gap: 0.4rem;
                padding: 1rem 0;
                font-size: 1.4rem;

                p {
                    font-weight: var(--weight550);
                    font-size: 1.55rem;
                    margin-top: .3rem;
                }
            }

            .generalInformation_itemTech_Stack {
                gap: .4rem;
                padding: 1.65rem 0;
                font-size: 1.4rem;
                display: grid;
                align-items: center;
                gap: 0.4rem;
                padding: 1rem 0;
                font-size: 1.4rem;

                p {
                    font-weight: var(--weight500);
                    font-size: 1.55rem;
                    margin-top: .3rem;
                }

                .tech__stack {
                    background: var(--hoverBox);
                    border: .1rem solid var(--hoverBoxBd);
                    padding: .5rem 1rem;
                    border-radius: .3rem;
                    font-size: 1.4rem;
                    cursor: pointer;
                }
            }
        }

        .jobSame__company,
        .jobLevelSame__company {
            background: var(--bg-White);
            margin-top: 2rem;
            padding: 2rem 1rem 2rem 2rem;
            border-radius: .5rem;

            h3 {
                font-size: 1.7rem;
                text-transform: none;

                p {
                    font-weight: var(--weight500);
                    color: #ff7d55;
                }
            }

            .companyJobs {
                margin-top: 2rem;
                overflow: auto;
                max-height: 55rem;
                height: auto;

                &::-webkit-scrollbar {
                    background: #dbdbdb;
                    height: 1px;
                    border-radius: 5rem;
                    width: .7rem;
                }

                &::-webkit-scrollbar-thumb {
                    height: 1px;
                    width: .15rem;
                    background: #fb6900;
                    border-radius: 5rem;
                    cursor: pointer;
                }

                .box_companyJob {
                    display: flex;
                    gap: 1rem;
                    padding: 1.5rem;
                    border: .1rem solid var(--border);
                    margin-bottom: 1.5rem;
                    border-radius: 1rem;
                    cursor: pointer;
                    margin-right: 1rem;

                    &:hover {
                        border: .1rem solid var(--hoverBoxBd);
                        background: var(--hoverBox);
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .logo__company {
                        max-width: 12rem;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        display: flex;

                        img {
                            width: 8rem;
                            height: 8rem;
                            object-fit: contain;
                            margin: auto;
                        }
                    }

                    .jobInfo {
                        max-width: 23rem;
                        width: 100%;

                        h2 {
                            font-size: 1.5rem;
                            font-size: 1.5rem;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .job__experience {
                            padding: 0.5rem 0;
                            color: var(--viewDetails);
                            font-size: 1.25rem;
                            font-weight: var(--weight550);
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .company__salary {
                            padding: .5rem 0;
                            font-size: 1.3rem;
                            font-weight: var(--weight550);
                        }

                        .company__location {
                            padding: .5rem 0;
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }

}