.dashboard {
    background-color: #f1f4f6;
    padding: 4rem 0;

    .banner_image__company {
        max-width: 120rem;
        height: 100% !important;
        object-fit: cover;
        border-radius: 1rem;
        padding: 0;
        margin-bottom: 10rem;
        position: relative;

        .choose_image__bannerCompany {
            max-width: 120rem;
            height: 28rem;
            border: .2rem dashed var(--border);
            display: flex;
            margin: auto;
            border-radius: 1rem;
            position: relative;


            .img_updated {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            .select_image_label {
                margin: auto;
                font-size: 1.8rem;
                z-index: 999;
                cursor: pointer;
            }

            .file_input__Image {
                margin: auto;

                label {

                    svg {
                        width: 2rem;
                        height: 2rem;
                    }

                    font-size: 1.5rem;
                }

                input {
                    display: none;
                }
            }
        }

        .company_Name__title {
            position: absolute;
            bottom: -5.8rem;
            left: 16rem;
            max-width: 85%;
            width: 100%;

            .company_name {
                font-size: 2rem;
            }

            .industry {
                font-size: 1.35rem;
                margin-left: 2.7rem;
            }
        }

        .choose_image__logoCompany {
            position: absolute;
            bottom: -8rem;
            left: 2rem;
            width: 13.5rem;
            height: 13.5rem;

            .logoCompany_preview {
                max-width: 13.5rem;
                height: 13.5rem;
                border-radius: 50%;
                overflow: hidden;
                background: #fff;
                padding: 1rem;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }


            }

            .input_fileLogo {
                position: absolute;
                right: .5rem;
                bottom: 0;
                font-size: 1.4rem;
                padding: .8rem;
                background: #fff;
                border-radius: 50%;
                border: .1rem solid var(--border);
                cursor: pointer;
            }
        }

        img {
            width: 100%;
            height: 28rem;
            border-radius: 1rem;
            overflow: hidden;
            object-fit: cover;
            cursor: pointer;
        }
    }

    // mẫu
    .account_Auth__level {
        width: 120rem;
        margin: auto;
        padding-top: 2rem;
        margin-top: 1rem;
        background: #fff;
        border-radius: 1rem;
        padding: 2rem;



        >div:nth-child(2) {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            margin-top: 1rem;

            span {
                font-size: 1.4rem;
                color: #333;
                padding: .5rem 0;
            }
        }


        .progress_container {
            margin: 1rem 0;

            h2 {
                font-size: 1.5rem;
                color: #333;
                margin-bottom: 1.5rem;
            }

            .progress_label {
                display: block;
                font: 500 1.4rem/1.5 system-ui;
                color: #333;
                margin-bottom: 0.5rem;
            }

            .progress_bar {
                height: 1rem;
                background: #e0e0e0;
                border-radius: 1rem;
                overflow: hidden;
                margin-top: -1.5rem;
            }

            .progress_fill {
                height: 100%;
                background: #2ecc71;
                transition: width 0.3s;
            }
        }

        .condition {
            margin-top: 2rem;

            .condition_item {
                display: block;
                font-size: 1.5rem;
                padding: 2rem 1rem;
                display: flex;
                align-items: center;
                gap: .7rem;
                position: relative;

                svg {
                    width: 2rem;
                    height: 2rem;
                }

                &:hover {
                    background: #eaf0fa;
                    cursor: pointer;
                    border-radius: 1rem;
                }

                .status {
                    position: absolute;
                    right: 1rem;
                }
            }
        }
    }

    .infomation_company {
        padding: 2rem 3rem;
        background: var(--bg-White);
        margin-top: 2rem;
        border-radius: 1rem;

        h2 {
            font-size: 2rem;
            color: #333;
            margin-bottom: 1.5rem;
        }

        .profile_container {
            display: flex;
            gap: 2rem;
            flex-wrap: wrap;

            .user_info {
                flex: 2 1 42rem !important;
                width: 100%;
                background: #fff;
                padding: 1.5rem;
                border-radius: 1rem;
                border: .1rem solid var(--border);

                flex: 1;

                .user_header {
                    position: relative;
                    align-items: center;
                    gap: 1rem;
                    margin-bottom: 1rem;

                    span {
                        display: block;
                    }

                    .company_name {
                        font-size: 1.8rem;
                        font-weight: bold;
                        color: #333;
                    }

                    .user_id {
                        margin-top: .7rem;
                        padding: .2rem 1rem;
                        display: inline-block;
                        border-radius: .3rem;
                        font-size: 1.5rem;
                        color: #666;
                        background: #def5ff;
                    }


                    .user_rank {
                        position: absolute;
                        top: 0;
                        right: 5rem;
                        font-size: 1.4rem;
                        padding: .7rem 2rem;
                        background: #def5ff;
                        font-weight: bold;
                        color: #333;
                        border-radius: .5rem;
                    }

                    .icon_bar {
                        position: absolute;
                        top: 0;
                        right: -1rem;
                        font-size: 1.4rem;
                        padding: .7rem 2rem;
                        font-weight: bold;
                        color: #333;
                        cursor: pointer;

                        &:hover {
                            background: #def5ff;
                            border-radius: .5rem;
                            transition: .3s ease;
                        }
                    }
                }

                .user_contact {
                    margin-bottom: 1.5rem;

                    p {
                        font-size: 1.4rem;
                        color: #333;
                        padding: 1rem 0;

                        span {
                            margin-right: 0.5rem;
                        }
                    }
                }

                .membership {
                    margin-bottom: 1.5rem;

                    .membership_levels {
                        display: flex;
                        justify-content: space-between;
                        font-size: 1.2rem;
                        color: #666;
                        text-align: center;

                        span {
                            display: block;

                            p {
                                margin-top: .5rem;
                                font-size: 1.4rem;
                                font-weight: var(--weight550);
                                color: #2555ce;
                            }
                        }
                    }

                    .progress_bar {
                        height: 8px;
                        background: #e0e0e0;
                        border-radius: 4px;
                        margin-top: 0.5rem;
                        overflow: hidden;

                        .progress {
                            height: 100%;
                            background: #33b451;
                            border-radius: 4px;
                            transition: width 0.3s ease;
                        }
                    }
                }

                .points_section {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1.5rem;
                    background: #f9f9f9;
                    border-radius: 8px;
                    margin-bottom: 1rem;

                    .points_info {
                        .points_label {
                            font-size: 1.4rem;
                            color: #666;
                            margin-right: .3rem;
                        }

                        .points_value {
                            font-size: 1.4rem;
                            font-weight: bold;
                            color: #ff6f61;
                        }
                    }

                    .points_button {
                        background: #def5ff;
                        color: #333;
                        padding: .7rem 2.5rem;
                        border: none;
                        border-radius: 5rem;
                        cursor: pointer;
                        font-size: 1.3rem;
                        transition: background 0.3s ease;

                        &:hover {
                            background: #337eb4;
                            color: #fff;
                        }
                    }
                }
            }

            .points_credits {
                flex: 1 1 32rem !important;
                background: #fff;
                padding: 1.5rem;
                border-radius: 1rem;
                border: .1rem solid var(--border);
                flex: 1;

                .top_points {
                    margin-bottom: 1.5rem;

                    h4 {
                        font-size: 1.8rem;
                        color: #333;
                        margin-bottom: 0.5rem;
                    }

                    .top_points_message {
                        font-size: 1.4rem;
                        color: #333;
                        line-height: 1.5;

                        a {
                            color: #33b451;
                            font-size: 1.8rem;
                            font-weight: var(--weight550);
                        }
                    }

                    .points_display {
                        position: relative;
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        margin-top: 1rem;
                        padding: 1.5rem;
                        background: #def5ff;
                        border-radius: 1rem;

                        .points_icon {
                            font-size: 1.8rem;
                        }

                        .points_value {
                            font-size: 1.8rem;
                            font-weight: bold;
                            color: #333;
                        }

                        .points_action {
                            background: #304fcb;
                            color: #fff;
                            padding: 0.8rem 2.5rem;
                            border: none;
                            border-radius: .5rem;
                            cursor: pointer;
                            font-size: 1.2rem;
                            transition: background 0.3s ease;
                            position: absolute;
                            right: 2rem;

                            &:hover {
                                background: darken(#2c3ceb, 10%);
                            }
                        }
                    }
                }

                .credits {
                    h4 {
                        font-size: 1.4rem;
                        color: #333;
                        margin-bottom: 0.5rem;
                    }

                    .credit_types {
                        display: flex;
                        gap: 1rem;
                        margin-top: .5rem;

                        .credit_type {
                            background: #f9f9f9;
                            padding: 1.5rem;
                            border-radius: 1rem;
                            flex: 1;

                            .credit_label {
                                font-size: 1.3rem;
                                font-weight: bold;
                                color: #666;
                                margin-right: .3rem;
                            }

                            .credit_value {
                                display: block;
                                font-size: 1.5rem;
                                font-weight: var(--weight600);
                                color: var(--viewDetails);
                                margin-top: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .slider_section {
        margin-top: 2rem;
        padding: 0;
        z-index: -1 !important;

        .swiper_container {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            border-radius: 8px;
            z-index: -1 !important;
            overflow: hidden;

            .slide_content {
                display: flex;
                gap: 1rem;
                justify-content: center;
                z-index: -1 !important;
                align-items: center;
            }

            .swiper_image {
                width: 50%;
                height: auto;
                object-fit: cover;
                border-radius: 1rem;
                overflow: hidden;
                z-index: -1 !important;
                display: block;

                img {
                    width: 100%;
                    z-index: -1 !important;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .swiper-pagination {
                bottom: -1rem !important;

                .swiper-pagination-bullet {
                    background: #fff;
                    opacity: 0.7;
                    width: 10px;
                    height: 10px;
                    margin: 0 5px;
                }

                .swiper-pagination-bullet-active {
                    background: #007bff;
                    opacity: 1;
                }
            }
        }
    }

    .Recruitment_examination {
        margin-top: 2rem;
        background: var(--bg-White);
        border-radius: 1rem;
        padding: 2rem;

        h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        .Recruitment_examination__container {
            border-top: .1rem solid var(--border);
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
            gap: 1.5rem;
            padding: 2rem 0 0 0;

            .Recruitment_examination__box {
                border-radius: 1rem;
                border: .1rem solid var(--border);
                overflow: hidden;
                display: flex;
                align-items: center;
                gap: 2rem;
                width: 100%;
                text-align: center;

                .tool_image {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .content {
                    flex: 2 1;

                    span {
                        display: block;
                        font-size: 1.6rem;
                        font-weight: var(--weight550);
                    }

                    .btn_tryNow {
                        background: #def5ff;
                        color: #333;
                        padding: .7rem 2.5rem;
                        border: none;
                        border-radius: 5rem;
                        cursor: pointer;
                        font-size: 1.3rem;
                        transition: background 0.3s ease;
                        margin-top: 1rem;

                        &:hover {
                            background: #336bb4;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .CV_recommendation {
        padding: 2rem;
        background: var(--bg-White);
        margin-top: 2rem;
        border-radius: 1rem;

        h2 {
            font-size: 1.8rem;
            margin-bottom: 1.5rem;
            color: #333;
        }

        .CV_recommendation__container {
            display: flex;
            align-items: center;
            gap: 2rem;
            flex-wrap: wrap;

            .CV_recommendation__banner {
                flex: 1 1;
                max-width: 50rem;
                height: 80%;
                border-radius: 1rem;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 80%;
                    object-fit: cover;
                }
            }

            .CV_recommendation__content {
                flex: 1 1;

                h3 {
                    font-size: 1.6rem;
                    text-transform: none;
                }

                .list_content {
                    margin-left: 2.7rem;

                    .content_item {
                        display: block;
                        padding: 1rem 0;
                        font-size: 1.4rem;
                    }
                }

                .btn_buy_service {
                    margin-left: 2.6rem;
                    background: #def5ff;
                    color: #333;
                    padding: .7rem 2.5rem;
                    border: none;
                    border-radius: 5rem;
                    cursor: pointer;
                    font-size: 1.3rem;
                    transition: background 0.3s ease;
                    margin-top: 1rem;

                    &:hover {
                        background: #336bb4;
                        color: #fff;
                    }
                }
            }
        }
    }
}