.test {
    position: fixed;
    inset: 0;
    height: 100dvh;
    display: flex;

    .test__wrapper {
        margin: auto;
        display: flex;
        gap: 2rem;

        .btnSuccess,
        .btnError {
            padding: 1rem 3rem;
            border: .1rem solid #dbdbdb;
            font-size: 1.4rem;
            border-radius: 5rem;
        }
    }
}