.jobCompany {
    margin-top: 6.2rem;
    padding: 3rem auto;

    .common__information {
        padding-bottom: 2rem;
        border-bottom: .2rem dashed var(--border);
        .image_company {
            border: 0.1rem solid var(--border);
            border-radius: 50%;
            max-width: 10rem;
            height: 10rem;
            display: flex;
            align-items: center;
            gap: 2rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                transform: scale(0.6);
            }

            .content {
                width: 50rem;

                .name__company {
                    color: var(--colorBlackText);
                    font-size: 2rem;
                    width: 80rem;
                    font-weight: var(--weight550);
                    margin-bottom: .5rem;
                }

                .district__company {
                    color: var(--textBlur);
                    font-size: 1.6rem;
                    margin-bottom: .5rem;
                    width: 80rem;
                }

                .total__job {
                    font-weight: var(--weight550);
                    font-size: 1.4rem;
                    color: var(--colorPrice);
                    text-decoration: underline;
                }
            }
        }


    }

    h2 {
        font-size: 2rem;
        margin-top: 9rem;
        text-transform: capitalize;
    }

    .wrapper__groupJob {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(52rem, 1fr));
        gap: 2rem;

        .job {
            margin-top: 1rem;
            padding: 1.5rem 1rem;
            border: .1rem solid #d2def5;
            display: flex;
            gap: 2rem;
            border-radius: .5rem;

            .image_company {
                display: flex;
                margin: auto;

                img {
                    width: 10rem;
                    object-fit: cover;
                }
            }

            .content__job {
                .title {
                    display: block;

                    h3 {
                        font-size: 1.4rem;
                    }
                }

                .name__company {
                    margin-left: 3rem;
                    font-size: 1.3rem;
                    color: var(--textBlur);
                }

                .salary {
                    margin-left: 3rem;
                    font-size: 1.3rem;
                    margin-top: .5rem;
                    font-weight: var(--weight550);
                    color: var(--viewDetails);
                }

                .company__district {
                    margin-left: 3rem;
                    font-size: 1.3rem;
                    margin-top: .5rem;
                    color: var(--textBlur);
                }

                .tech_stack {
                    display: flex;
                    align-items: center;
                    font-size: 1.4rem;
                    gap: .5rem;
                    margin-left: 3rem;
                    margin-top: 1rem;

                    p {
                        border: .1rem solid var(--viewDetails);
                        font-size: 1.2rem;
                        padding: .5rem 1.5rem;
                        border-radius: .5rem;
                        color: var(--viewDetails);
                       
                        &:hover {
                        font-weight: var(--weight550);
                        cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}