.Company_Info {
  margin-top: 3rem;
  display: flex;
  padding: 2rem 0;
  border-radius: 1rem;
  position: relative;
}
.Company_Info .Company_Info__container {
  max-width: 100%;
  width: 100%;
  border-radius: 0.5rem;
  padding: 2rem;
  position: relative;
  z-index: 1;
}
.Company_Info .Company_Info__container h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1.5rem;
}
.Company_Info .Company_Info__container .btn_update__companyInfo {
  position: absolute;
  right: 2rem;
  padding: 1rem 3rem;
  background: #0dba60;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  display: inline-block;
  cursor: pointer;
}
.Company_Info .Company_Info__container .btn_update__companyInfo:hover {
  transition: 0.3s ease;
  background: #0d8e4b;
}
.Company_Info .Company_Info__container .Business_type h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.Company_Info .Company_Info__container .Business_type .Business_type__checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 0.1rem solid var(--border);
  border-radius: 5rem;
  padding: 0.5rem;
}
.Company_Info .Company_Info__container .Business_type .Business_type__checkbox input {
  margin-right: 1rem;
}
.Company_Info .Company_Info__container .Business_type .Business_type__checkbox label {
  font-size: 1.4rem;
}
.Company_Info .Company_Info__container .Business_type .business_license {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 0.1rem solid var(--border);
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
}
.Company_Info .Company_Info__container .Business_type .business_license .btn_update__business_license {
  font-size: 1.4rem;
  font-weight: var(--weight550);
}
.Company_Info .Company_Info__container .Business_type .notification_business_type {
  margin-top: 2rem;
}
.Company_Info .Company_Info__container .Business_type .notification_business_type .notification_business_type__box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  border-left: 0.5rem solid #e5b500;
  background: #fffae9;
  border-radius: 1rem;
}
.Company_Info .Company_Info__container .Business_type .notification_business_type .notification_business_type__box svg {
  width: 1.5rem;
  height: 1.5rem;
  color: #e5b500;
}
.Company_Info .Company_Info__container .Business_type .notification_business_type .notification_business_type__box .block_text .notification_text {
  display: flex;
  font-size: 1.3rem;
  line-height: 1.6;
}
.Company_Info .Company_Info__container .Business_type .notification_business_type .notification_business_type__box .block_text .notification_text strong {
  font-weight: var(--weight550);
  margin: 0 0.3rem;
}
.Company_Info .Company_Info__container .Business_type .notification_business_type .notification_business_type__box .block_text .notification_text a {
  color: #077c3f;
  margin: 0 0.5rem;
  font-weight: var(--weight550);
}
.Company_Info .Company_Info__container .box_input__container {
  margin-top: 3rem;
}
.Company_Info .Company_Info__container .box_input__container .flex_box {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.Company_Info .Company_Info__container .box_input__container .flex_box .box {
  flex: 1 1 16rem;
  margin-bottom: 3rem;
}
.Company_Info .Company_Info__container .box_input__container .flex_box .box p {
  font-size: 1.2rem;
  padding: 0.5rem 0;
}
.Company_Info .Company_Info__container .box_input__container .flex_box .box .industry_tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: nowrap;
  max-width: 90rem;
  overflow-x: scroll;
  min-height: 38px;
  align-items: center;
  cursor: pointer;
}
.Company_Info .Company_Info__container .box_input__container .flex_box .box .industry_tags .industry_tag {
  display: flex;
  align-items: center;
  background-color: #d0e8ff;
  color: #495057;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  margin: 0;
  gap: 0.5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.Company_Info .Company_Info__container .box_input__container .flex_box .box .industry_tags .industry_tag .text {
  max-width: 15rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Company_Info .Company_Info__container .box_input__container .flex_box .box .industry_tags .industry_tag .remove_tag {
  cursor: pointer;
  color: #dc3545;
  font-weight: 700;
  font-size: 2rem;
}
.Company_Info .Company_Info__container .box_input__container .flex_box .box .industry_tags .industry_tag .remove_tag:hover {
  color: #bd2130;
}
.Company_Info .Company_Info__container .box_input__container .flex_box .box .select_industry {
  margin-top: 1rem;
  cursor: pointer;
}
.Company_Info .Company_Info__container .box_input__container .flex_box .box .span {
  display: inline-block;
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  position: relative;
}
.Company_Info .Company_Info__container .box_input__container .flex_box .box .span::after {
  position: absolute;
  right: -1rem;
  content: "*";
  color: red;
}
.Company_Info .Company_Info__container .box_input__container .flex_box .box input,
.Company_Info .Company_Info__container .box_input__container .flex_box .box select {
  padding: 1.5rem;
  border: 0.1rem solid var(--border);
  width: 100%;
  border-radius: 0.5rem;
  font-size: 1.4rem;
}
.Company_Info .Company_Info__container .box_input__container .flex_box .box input::-moz-placeholder, .Company_Info .Company_Info__container .box_input__container .flex_box .box select::-moz-placeholder {
  font-size: 1.3rem;
}
.Company_Info .Company_Info__container .box_input__container .flex_box .box input::placeholder,
.Company_Info .Company_Info__container .box_input__container .flex_box .box select::placeholder {
  font-size: 1.3rem;
}
.Company_Info .Company_Info__container .box_input__container .description_company span {
  display: inline-block;
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  position: relative;
}
.Company_Info .Company_Info__container .box_input__container .description_company span::after {
  position: absolute;
  right: -1rem;
  content: "*";
  color: red;
}
.Company_Info .Company_Info__container .box_input__container .description_company textarea {
  width: 100%;
  height: 20rem;
  border: 0.1rem solid var(--border);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  line-height: 1.5;
}/*# sourceMappingURL=company_info.module.css.map */