.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.modalImage {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
}

.closeButton:hover {
    background: #f0f0f0;
}

.db {
    min-height: 100vh;
    background: linear-gradient(180deg, #013f3c 0%, #05665c 100%);
    overflow: hidden;
    position: relative;

    .wrapper {
        margin: auto;
        max-width: 80rem;
        border: .2rem solid #ccaa80;



        .content {
            height: 100%;
            min-height: 100vh;
            position: relative;
            text-align: center;
            overflow: hidden;

            .img_top {
                z-index: 10;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .img_bottom {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(50%, -50%);
                max-width: 80rem;
                z-index: 9;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .text {
                background: rgba(0, 0, 0, 0.5);
                border-radius: 2rem;
                border: 2px solid #ccaa80;
                backdrop-filter: blur(.2rem);
                -webkit-backdrop-filter: blur(.2rem);
                padding: 4rem 2rem;
                color: #ccaa80;
                position: absolute;
                top: 55%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 79rem;
                width: 90%;
                padding: 2rem 1rem 1rem 1rem;
                z-index: 999999 !important;

                .h1 {
                    font-size: 4rem;
                    margin-bottom: 1rem;
                    font-family: "Pinyon Script", cursive;
                    font-family: 400;
                    text-transform: capitalize;

                    @media (max-width: 768px) {
                        font-size: 4rem;
                    }

                    @media (max-width: 480px) {
                        font-size: 3rem;
                    }
                }

                p {
                    font-size: 1.8rem;
                    line-height: 1.6;
                    margin-bottom: 2rem;

                    @media (max-width: 768px) {
                        font-size: 1.8rem;
                    }

                    @media (max-width: 480px) {
                        font-size: 1.2rem;
                    }
                }

                h3 {
                    font-size: 1.5rem;
                    font-weight: 400;
                    margin-bottom: 0.5rem;

                    @media (max-width: 768px) {
                        font-size: 1.3rem;
                    }

                    @media (max-width: 480px) {
                        font-size: 1.1rem;
                    }
                }

                h4 {
                    font-size: 2rem;
                    font-weight: 600;
                    margin-bottom: 2rem;
                }

                .wrapper_map {
                    .btn_map {
                        display: inline-block;
                        padding: 1rem 1.5rem;
                        background: #ccaa80;
                        color: #fff;
                        border-radius: 0.5rem;
                        cursor: pointer;
                        font-weight: 400;
                        margin-bottom: 1rem;
                        font-size: 1.4rem;
                        transition: background 0.3s ease;

                        &:hover {
                            background: #e6c999;
                        }
                    }

                    .iframe_map {
                        max-height: 0;
                        opacity: 0;
                        transform: scale(0.9);
                        overflow: hidden;
                        transition: all 0.4s ease;
                        border-radius: 1rem;

                        iframe {
                            width: 100%;
                            height: 35rem;
                            border: 0;
                        }

                        &.active {
                            max-height: 50rem;
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                }



                .note {
                    margin-top: 2rem;
                    font-size: 1.5rem;
                    font-style: italic;
                    color: #bbb;

                    @media (max-width: 768px) {
                        font-size: 2.8rem;
                    }

                    @media (max-width: 480px) {
                        font-size: 1.1rem;
                    }
                }
            }


        }

        .schedule {
            padding: 0 2rem;
            text-align: center;

            h3 {
                font-size: 2.5rem;
                color: #ccaa80;
                margin-bottom: 3rem;
                text-transform: uppercase;
            }

            .timeline {
                position: relative;
                margin: 0 auto;
                padding-left: 2rem;
                border-left: 2px solid #ccaa80; // đường dọc timeline
                max-width: 600px;
                text-align: left;
            }

            .item {
                position: relative;
                margin-bottom: 8rem;
                padding-left: 2rem;

                &::before {
                    content: '';
                    position: absolute;
                    left: -2.6rem;
                    top: 0;
                    width: 1rem;
                    height: 1rem;
                    background: #ccaa80;
                    border-radius: 50%;
                }

                .time {
                    font-size: 1.3rem;
                    color: #ccaa80;
                    margin-bottom: 0.5rem;
                    font-weight: 500;
                }

                .schedule_content {
                    h4 {
                        font-size: 2rem;
                        color: #fff;
                        margin: 0 0 0.5rem 0;
                    }

                    p {
                        font-size: 1.3rem;
                        color: #ddd;
                        margin: 0;
                    }
                }
            }

            .countDown {
                text-align: center;
                padding: 2rem;
                border-radius: 1rem;
                color: #ccaa80;

                h3 {
                    font-size: 2.5rem;
                    margin-bottom: 2rem;
                    text-transform: uppercase;

                    @media (max-width: 480px) {
                        font-size: 2.2rem;
                    }
                }

                .countdownTimer {
                    display: flex;
                    justify-content: center;
                    gap: 2rem;
                    flex-wrap: wrap;

                    .countdownItem {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        min-width: 6rem;

                        span {
                            font-size: 3rem;
                            font-weight: 600;
                            color: #fff;
                            background: #ccaa80;
                            padding: 1rem;
                            border-radius: 0.5rem;
                            width: 5rem;
                            text-align: center;
                        }

                        p {
                            font-size: 1.4rem;
                            margin-top: 0.5rem;
                            color: #ccaa80;
                        }
                    }
                }

                @media (max-width: 768px) {
                    .countdownTimer {
                        gap: 1.5rem;

                        .countdownItem {
                            span {
                                font-size: 2.2rem;
                                width: 4.5rem;
                            }

                            p {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }

                @media (max-width: 480px) {
                    .countdownTimer {
                        gap: 1rem;

                        .countdownItem {
                            span {
                                font-size: 2rem;
                                width: 4rem;
                            }

                            p {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }


        .events {
            padding: 6rem 2rem;
            text-align: center;
            background: rgba(0, 0, 0, 0.25);
            border-top: 2px solid #ccaa80;
            position: relative;

            h2 {
                font-size: 3rem;
                color: #ccaa80;
                margin-bottom: 6rem;
                text-transform: uppercase;
                letter-spacing: .2rem;
            }

            .timeline {
                position: relative;
                max-width: 90rem;
                margin: auto;

                &::after {
                    content: '';
                    position: absolute;
                    width: 4px;
                    background: #ccaa80;
                    top: 0;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            .event {
                padding: 1rem;
                position: relative;
                width: 46.5%;

                img {
                    width: 100%;
                    height: auto;
                    border-radius: 1rem;
                    border: 2px solid #ccaa80;
                    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
                }

                .caption {
                    background: #fff;
                    backdrop-filter: blur(5px);
                    padding: 1.5rem;
                    border-radius: 1rem;
                    margin-top: 1rem;
                    color: #333;

                    h3 {
                        font-size: 1.8rem;
                        margin-bottom: 0.5rem;
                    }

                    p {
                        font-size: 1.4rem;
                        line-height: 1.6;
                    }
                }
            }

            .left {
                left: 0;
                text-align: right;
            }

            .right {
                left: 50%;
                text-align: left;
            }

            /* Kết nối timeline */
            .event::after {
                content: '';
                position: absolute;
                width: 3rem;
                height: 3rem;
                right: -2.5rem;
                background: #ccaa80;
                border: 3px solid #013f3c;
                top: 2rem;
                border-radius: 50%;
                z-index: 1;
            }

            .right::after {
                left: -1.9rem;
            }

            @media (max-width: 768px) {
                .timeline::after {
                    left: 0rem;
                }

                .event {
                    width: 90%;

                    &.right {
                        left: 0;
                    }
                }

                .event::after {
                    left: -18px;
                }
            }
        }
    }
}