@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+AU+SA:wght@100..400&display=swap");
.invitationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background: #e9ddcd url("https://png.pngtree.com/png-vector/20230924/ourmid/pngtree-vietnamese-wedding-peach-blossom-pattern-png-image_10156628.png") repeat;
  background-size: 100px;
  font-family: "Playwrite AU SA", sans-serif;
  position: relative;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: -5rem;
}
.invitationContainer .envelope {
  position: relative;
  width: 60rem;
  height: 100vh;
  background: #e9ddcd url("https://png.pngtree.com/png-vector/20230924/ourmid/pngtree-vietnamese-wedding-floral-pattern-png-image_10156627.png") repeat;
  background-size: 120px;
  border: 5px solid #ffd700;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}
.invitationContainer .envelope .flapLeft {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: #a11414 url("https://png.pngtree.com/png-vector/20230924/ourmid/pngtree-vietnamese-wedding-floral-pattern-png-image_10156627.png") repeat;
  background-size: 120px;
  border: 5px solid #333;
  z-index: 2;
  transition: transform 0.8s ease-in-out;
  left: 0;
  transform-origin: left;
  border-right: none;
  transform: rotateY(-180deg);
}
.invitationContainer .envelope .flapRight {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: #a11414 url("https://png.pngtree.com/png-vector/20230924/ourmid/pngtree-vietnamese-wedding-floral-pattern-png-image_10156627.png") repeat;
  background-size: 120px;
  border: 5px solid #333;
  z-index: 2;
  transition: transform 0.8s ease-in-out;
  right: 0;
  transform-origin: right;
  border-left: none;
  transform: rotateY(180deg);
}
.invitationContainer .envelope .envelopeContent {
  position: relative;
  width: 100%;
  height: 100%;
}
.invitationContainer .envelope .envelopeContent .loveTheDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.invitationContainer .envelope .envelopeContent .loveTheDate .nameT {
  position: absolute;
  left: 20%;
  top: 20%;
  font-size: 5vw;
  color: #a11414;
  font-family: "Dancing Script", cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.invitationContainer .envelope .envelopeContent .loveTheDate .and {
  position: absolute;
  left: 45%;
  top: 38%;
  font-size: 5vw;
  color: #a11414;
  font-family: "Dancing Script", cursive;
  margin: -10px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.invitationContainer .envelope .envelopeContent .loveTheDate .nameN {
  position: absolute;
  left: 23%;
  top: 50%;
  font-size: 5vw;
  color: #a11414;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.invitationContainer .envelope .envelopeContent .eventDate {
  position: absolute;
  right: 10%;
  bottom: 14%;
  font-size: 2.5rem;
  color: #ffd700;
  margin: 15px 0;
  font-family: "Playwrite AU SA", sans-serif;
}
.invitationContainer .envelope .envelopeContent .inviteText {
  position: absolute;
  right: 8%;
  bottom: 12.5%;
  font-size: 2rem;
  color: #ffd700;
  font-style: italic;
  font-family: "Playwrite AU SA", sans-serif;
}
.invitationContainer .envelope:hover {
  transform: scale(1.02);
}
.invitationContainer .cardInner {
  width: 60rem;
  height: 90vh;
  border: 5px solid #ffd700;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}
.invitationContainer .cardInner .images {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.invitationContainer .cardInner .images .mainImage {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  animation: fadeInImage 0.5s ease-in-out forwards;
}
.invitationContainer .cardInner .list_image {
  position: absolute;
  bottom: 5%;
  right: 2%;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.invitationContainer .cardInner .list_image .image_item {
  max-width: 20rem;
  height: 10rem;
  border: 0.2rem solid #ffd700;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}
.invitationContainer .cardInner .list_image .image_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.invitationContainer .cardInner .innerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
}
.invitationContainer .cardInner .innerContent .card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
.invitationContainer .cardInner .innerContent .card1 .familySection {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 0;
  margin-bottom: 2rem;
}
.invitationContainer .cardInner .innerContent .card1 .familySection .family {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  color: #fff;
}
.invitationContainer .cardInner .innerContent .card1 .familySection .family h3 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 0.5rem;
  font-family: "Playwrite AU SA", sans-serif;
}
.invitationContainer .cardInner .innerContent .card1 .familySection .family p {
  font-size: 1.4rem;
  margin: 0.5rem 0;
  line-height: 1.5;
  font-family: "Playwrite AU SA", sans-serif;
  color: #000000;
}
.invitationContainer .cardInner .innerContent .card1 .announcement {
  margin: 1rem 0;
}
.invitationContainer .cardInner .innerContent .card1 .announcement p {
  font-size: 3rem;
  color: #a11414;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.invitationContainer .cardInner .innerContent .card1 .coupleNames {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.invitationContainer .cardInner .innerContent .card1 .coupleNames .groom,
.invitationContainer .cardInner .innerContent .card1 .coupleNames .bride {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0;
}
.invitationContainer .cardInner .innerContent .card1 .coupleNames .groom .title,
.invitationContainer .cardInner .innerContent .card1 .coupleNames .bride .title {
  font-size: 1.4rem;
  color: #333;
  font-family: "Playwrite AU SA", sans-serif;
}
.invitationContainer .cardInner .innerContent .card1 .coupleNames .groom .name,
.invitationContainer .cardInner .innerContent .card1 .coupleNames .bride .name {
  font-size: 9rem;
  color: #a11414;
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
@keyframes fadeInImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.invitationContainer .fadeIn {
  animation: fadeInContent 0.5s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeInContent {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=gpdn.module.css.map */