.QR_CheckAsset {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'Poppins', sans-serif;
    z-index: 999 !important;
    backdrop-filter: blur(.5rem) saturate(90%);
    -webkit-backdrop-filter: blur(.5rem) saturate(90%);
    background: rgba(255, 255, 255, .7);

    /* Liquid glass viền ánh sáng phản chiếu */
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.05),
        inset 0 0 30px rgba(255, 255, 255, 0.1),
        inset 0 0 30px rgba(255, 255, 255, 0.1);

    &::before,
    &::after {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 2rem;
        pointer-events: none;
        transition: 0.3s ease;
    }

    &::before {
        background: linear-gradient(145deg, rgba(255, 255, 255, 0.4), transparent);
        mix-blend-mode: screen;
        opacity: 0.4;
    }

    &::after {
        background: radial-gradient(circle at 70% 70%, rgba(0, 0, 0, 0.2), transparent);
        mix-blend-mode: multiply;
        opacity: 0.7;
    }


    .header {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem 1.5rem;
        font-size: 1.5rem;
        cursor: pointer;
        margin-bottom: 1.5rem;
        border: .1rem solid #dbdbdb;
        display: inline-block;
        border-radius: 2rem;

        svg {
            margin-right: .5rem;
        }
    }

    .btn_close:hover {
        background: rgba(255, 255, 255, 0.5);
    }

    .wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        max-width: 80rem;
        width: 85%;
        padding: 2rem;
        height: 80vh;
        overflow-y: scroll;
        border-radius: 2rem;

        &::-webkit-scrollbar {
            display: none;
        }

        .current_day {
            font-size: 1.5rem;
            width: 90%;

            h3 {
                margin-top: 1rem;
                font-size: 3rem;
            }

            .toggleContainer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 60rem;
                width: 100%;

                .toggleButton {
                    position: relative;
                    width: 5rem;
                    height: 26px;
                    border: none;
                    background-color: #e0e0e0;
                    border-radius: 1.75rem;
                    cursor: pointer;
                    padding: 0;
                    transition: background-color 0.3s ease;
                    display: flex;
                    align-items: center;

                    &.active {
                        background-color: #ff6f61;
                    }

                    &:focus {
                        outline: none;
                        box-shadow: 0 0 0 0.1875rem rgba(255, 111, 97, 0.3);
                    }

                    .toggleSlider {
                        position: absolute;
                        height: 1.8rem;
                        width: 1.8rem;
                        background-color: #ffffff;
                        border-radius: 50%;
                        top: 3.5px;
                        left: 0.25rem;
                        transition: transform 0.3s ease;
                        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
                    }

                    &.active .toggleSlider {
                        transform: translateX(2.70rem);
                    }
                }
            }
        }

        .progress_checkTask {
            padding: 3rem 1rem;
            position: relative;

            @media (max-width: 768px) {
                height: 80vh;
            }

            @media (max-width: 480px) {
                height: 70vh;
            }

            .progress_wrapper {
                .timeline {
                    position: relative;
                    margin: 0 auto 15rem auto;
                    padding-left: 2rem;
                    border-left: 2px solid #dbdbdb;
                    max-width: 600px;
                    text-align: left;

                    @media (max-width: 480px) {
                        padding-left: 2rem;
                        margin: 0 auto;
                    }

                    &.completed {
                        border-left: 2px solid #538c2b;
                    }
                }

                .item {
                    position: relative;
                    margin-bottom: 4rem;
                    padding-left: 2rem;
                    padding: 0 0.5rem 0.5rem 0.5rem;
                    opacity: 0;
                    transform: translateY(20px);
                    animation: fadeInUp 0.5s ease forwards;
                    width: 90%;
                    cursor: pointer;


                    @media (max-width: 480px) {
                        padding-left: 0;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        left: -3.15rem;
                        top: 0;
                        width: 2rem;
                        height: 2rem;
                        background: #dbdbdb;
                        border-radius: 50%;

                        @media (max-width: 480px) {
                            width: 1.5rem;
                            height: 1.5rem;
                            left: -2.8rem;
                        }
                    }

                    &.completed {
                        &::before {
                            content: "✧";
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 900;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #fff;
                            background: #538c2b;
                            width: 2rem;
                            height: 2rem;
                            border-radius: 50%;
                            font-size: 1.5rem;
                            line-height: 2;

                            @media (max-width: 480px) {
                                width: 1.5rem;
                                height: 1.5rem;
                                left: -2.8rem;
                            }
                        }
                    }

                    .time {
                        font-size: 1.3rem;
                        color: #ccaa80;
                        margin-bottom: 0.5rem;
                        font-weight: 500;
                        text-transform: capitalize;
                    }

                    .schedule_content {
                        .card {
                            background-image: url(../../../../public/images/card.jpg);
                            background-position: center;
                            background-repeat: no-repeat;
                            max-width: 40rem;
                            width: 100%;
                            height: 18rem;
                            border-radius: 3rem;
                            position: relative;
                            overflow: hidden;
                            padding: 1rem;
                            transition: all 0.3s ease-in-out;

                            @media (max-width: 768px) {
                                max-width: 35rem;
                                height: 17rem;
                            }

                            @media (max-width: 480px) {
                                max-width: 30rem;
                                height: 16rem;
                            }

                            &:hover {
                                transform: translateY(-5px);
                                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                            }

                            &::before {
                                content: '';
                                position: absolute;
                                bottom: 1rem;
                                right: 10%;
                                width: 3.5rem;
                                height: 3.5rem;
                                border-radius: 50%;
                                background: rgba(245, 14, 65, 0.5);
                                z-index: 3;
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                bottom: 1rem;
                                right: 5%;
                                width: 3.5rem;
                                height: 3.5rem;
                                border-radius: 50%;
                                background: rgba(243, 159, 47, 0.5);
                                z-index: 3;
                            }

                            h3 {
                                font-size: 1.2rem;
                                color: #fff;
                                margin: 1rem;
                                position: absolute;
                                top: 20%;
                                left: 3%;
                                text-transform: uppercase;
                            }

                            .image_bank {
                                position: absolute;
                                top: 10%;
                                right: 2%;
                                max-width: 10rem;
                                overflow: hidden;
                                border-radius: 0.5rem;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    cursor: pointer;
                                    transition: transform 0.3s ease;
                                    display: block;
                                }

                                img:hover {
                                    transform: scale(1.05);
                                }
                            }

                            .QR_code {
                                position: absolute;
                                top: 40%;
                                right: 0;
                                transform: translate(-2rem, -50%);

                                svg {
                                    font-size: 4rem;
                                }
                            }

                            .qr_icon {
                                position: absolute;
                                top: 10%;
                                right: 5%;
                                color: #fff;
                                font-size: 2rem;
                                cursor: pointer;
                                z-index: 4;
                            }

                            .number_banks {
                                position: absolute;
                                top: 12%;
                                left: 5%;
                                color: #fff;
                                font-size: 2rem;
                                text-transform: capitalize;
                                font-family: 'Orbitron', sans-serif;
                                font-weight: bolder;
                            }

                            .create_at {
                                position: absolute;
                                bottom: 16%;
                                left: 5%;
                                color: #7bf6d5;
                                font-size: 1.2rem;
                                text-transform: capitalize;
                            }

                            .name_banks {
                                position: absolute;
                                bottom: 7%;
                                left: 5%;
                                color: #fff;
                                font-size: 1.2rem;
                                text-transform: capitalize;
                            }

                            .status {
                                color: #538c2b;
                                font-size: 1.2rem;
                            }
                        }

                        h4 {
                            font-size: 2rem;
                            color: #333;
                            margin: 0 0 0.5rem 0;
                        }

                        .status {
                            font-size: 1.3rem;
                            color: #538c2b;
                            margin: 0;
                            margin-top: 2rem;
                            border-bottom: .1rem solid #dbdbdb;
                            padding-bottom: .7rem;
                        }

                        .unfinished {
                            color: #dbdbdb;
                            font-size: 1.3rem;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    .nav_slide__Edit {
        position: fixed;
        top: 0%;
        right: -100%;
        bottom: 0%;
        max-width: 50rem;
        width: 95%;
        background: #fff;
        border-radius: 1.5rem 0 0 1.5rem;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        min-height: 100vh;
        overflow-y: scroll;
        transition: right 0.5s ease-in-out;

        &.active {
            right: 0;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        .slideEdit__wrapper {
            padding: 2rem;

            h3 {
                font-size: 1.8rem;
                margin-top: 4rem;
                margin-bottom: 1rem;
            }

            .wrapper_preview {
                padding: 1rem 1rem 5rem 1rem;
                overflow: hidden;

                .card_previrew {
                    background-image: url(../../../../public/images/card.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    max-width: 40rem;
                    width: 100%;
                    height: 18rem;
                    border-radius: 3rem;
                    position: relative;
                    overflow: hidden;
                    padding: 1rem;
                    margin: auto;
                    opacity: 0;

                    &.animate {
                        animation: slideUp 0.8s ease forwards;
                        opacity: 1;
                    }

                    &.slideDown {
                        animation: slideDown 0.8s ease forwards;
                    }

                    @media (max-width: 768px) {
                        max-width: 35rem;
                        height: 17rem;
                        width: 90%;
                    }

                    @media (max-width: 480px) {
                        max-width: 30rem;
                        height: 16rem;
                        width: 90%;
                    }

                    &:hover {
                        transform: translateY(-5px);
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 1rem;
                        right: 10%;
                        width: 3.5rem;
                        height: 3.5rem;
                        border-radius: 50%;
                        background: rgba(245, 14, 65, 0.5);
                        z-index: 3;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 1rem;
                        right: 5%;
                        width: 3.5rem;
                        height: 3.5rem;
                        border-radius: 50%;
                        background: rgba(243, 159, 47, 0.5);
                        z-index: 3;
                    }

                    h3 {
                        font-size: 1.2rem;
                        color: #fff;
                        margin: 1rem;
                        position: absolute;
                        top: 20%;
                        left: 3%;
                        text-transform: uppercase;
                    }

                    .image_bank {
                        position: absolute;
                        top: 10%;
                        right: 2%;
                        max-width: 10rem;
                        overflow: hidden;
                        border-radius: 0.5rem;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            cursor: pointer;
                            transition: transform 0.3s ease;
                            display: block;
                        }

                        img:hover {
                            transform: scale(1.05);
                        }
                    }

                    .number_banks {
                        position: absolute;
                        top: 12%;
                        left: 5%;
                        color: #fff;
                        font-size: 2rem;
                        text-transform: capitalize;
                        font-family: 'Orbitron', sans-serif;
                        font-weight: bolder;

                        @media (max-width: 480px) {
                            font-size: 1.7rem;
                        }
                    }

                    .create_at {
                        position: absolute;
                        bottom: 16%;
                        left: 5%;
                        color: #7bf6d5;
                        font-size: 1.2rem;
                        text-transform: capitalize;
                    }

                    .name_banks {
                        position: absolute;
                        bottom: 7%;
                        left: 5%;
                        color: #fff;
                        font-size: 1.2rem;
                        text-transform: capitalize;

                        @media (max-width: 480px) {
                            font-size: .8rem;
                        }
                    }
                }
            }
        }

        .qr_for {
            padding: 1.5rem;
            font-size: 1.4rem;
            font-weight: 550;
        }

        .wrapper_boxInput {
            margin-top: 3rem;

            .box_input {
                margin-bottom: 3rem;

                span {
                    display: block;
                    font-size: 1.4rem;
                    margin-bottom: .7rem;
                }

                input,
                select {
                    padding: 1rem 1.5rem;
                    border: .1rem solid #d3d7f7;
                    width: 100%;
                    border-radius: .5rem;
                    font-size: 16px;

                    &::placeholder {
                        font-size: 1.3rem;
                    }
                }
            }
        }

        .btn_save {
            padding: 1.5rem;
            background: #697cf7;
            color: #fff;
            text-align: center;
            font-size: 1.4rem;
            border-radius: 1rem;
            cursor: pointer;
        }

        .btn_close {
            position: absolute;
            top: 0;
            left: 0;
            padding: 1rem 1.5rem;
            background: #333;
            color: #fff;
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 1.4rem;
            border-radius: 2rem 0 2rem 0;
            cursor: pointer;

            svg {
                font-size: 2rem;
            }
        }
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(50rem);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(50rem);
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .wrapper {
        padding: 2rem 1rem;
    }
}