.template11 {
  position: relative;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  min-height: 100vh;
  background: #eaeaea;
  overflow: hidden;
}
.template11 .wrapper {
  position: relative;
  width: 96%;
  height: 100%;
  padding: 1rem;
}
.template11 .wrapper .backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  min-height: 100vh;
}
.template11 .wrapper .backgroundImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: blur(2px) brightness(0.6);
  transform: scale(1.1);
}
.template11 .wrapper .barMaskContainer {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 15vh;
  flex-wrap: nowrap;
}
.template11 .wrapper .barMaskContainer .bar {
  max-width: 13rem;
  width: 100%;
  height: 50vh;
  border-radius: 2rem;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
  transform: scale(1);
  transform-origin: center center;
  will-change: transform, border-radius, background-size;
  animation: contract 0.7s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  backface-visibility: hidden;
}
.template11 .wrapper .barMaskContainer .bar.expanded {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 60rem;
  width: 100%;
  height: 100vh;
  z-index: 4;
  border-radius: 0;
  background-color: #fff;
  background-size: cover;
  overflow-y: scroll;
  margin: auto;
  animation: expand 0.7s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
.template11 .wrapper .barMaskContainer .bar.expanded::-webkit-scrollbar {
  display: none;
}
@keyframes expand {
  0% {
    transform: scale(1);
    border-radius: 2rem;
    background-size: 350%;
    width: 13rem;
    height: 50vh;
  }
  100% {
    transform: scale(1.05);
    border-radius: 0;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
}
@keyframes contract {
  0% {
    transform: scale(1.1);
    border-radius: 0;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  100% {
    transform: scale(1);
    border-radius: 2rem;
    background-size: 350%;
    width: 13rem;
    height: 50vh;
  }
}
.template11 .wrapper .barMaskContainer .weddingInfo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #000;
  background: rgb(255, 255, 255);
  max-width: 100%;
  bottom: 0;
  z-index: 9999 !important;
  overflow-y: auto;
}
.template11 .wrapper .barMaskContainer .weddingInfo .wrapper_bar1 {
  position: relative;
  min-height: 100vh;
}
.template11 .wrapper .barMaskContainer .weddingInfo .wrapper_bar1 .step_1 {
  align-items: center;
}
.template11 .wrapper .barMaskContainer .weddingInfo .wrapper_bar1 .step_1 .image_1 {
  border-radius: 0 0 50% 50%;
  overflow: hidden;
  height: 50vh;
}
.template11 .wrapper .barMaskContainer .weddingInfo .wrapper_bar1 .step_1 .image_1 img {
  width: 100%;
  height: 50rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .template11 .wrapper .barMaskContainer .weddingInfo .wrapper_bar1 .step_1 .image_1 img {
    max-height: 65rem;
  }
}
@media (max-width: 480px) {
  .template11 .wrapper .barMaskContainer .weddingInfo .wrapper_bar1 .step_1 .image_1 img {
    max-height: 45rem;
  }
}
.template11 .wrapper .barMaskContainer .weddingInfo .wrapper_bar1 .step_1 .al .dayWedding {
  padding: 1rem 2rem;
  transform: scale(0.9);
}
.template11 .wrapper .barMaskContainer .weddingInfo .wrapper_bar1 .step_1 .al .dayWedding h1 {
  font-size: 7rem;
  margin: 1rem 0;
  font-weight: 400;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .template11 .wrapper .barMaskContainer .weddingInfo .wrapper_bar1 .step_1 .al .dayWedding h1 {
    font-size: 8rem;
  }
}
@media (max-width: 480px) {
  .template11 .wrapper .barMaskContainer .weddingInfo .wrapper_bar1 .step_1 .al .dayWedding h1 {
    font-size: 6rem;
  }
}
.template11 .wrapper .barMaskContainer .weddingInfo .wrapper_bar1 .step_1 .al .text {
  font-size: 2rem;
  text-transform: capitalize;
  transform: scale(0.9);
  padding: 1rem 2rem;
}
@media (max-width: 768px) {
  .template11 .wrapper .barMaskContainer .weddingInfo .wrapper_bar1 .step_1 .al .text {
    font-size: 1.9rem;
  }
}
@media (max-width: 480px) {
  .template11 .wrapper .barMaskContainer .weddingInfo .wrapper_bar1 .step_1 .al .text {
    font-size: 1.8rem;
  }
}
.template11 .wrapper .barMaskContainer .weddingInfo .wrapper_bar1 .step_1 .al .text h3 {
  font-family: "Pinyon Script", cursive;
  margin: 1rem 0;
  font-size: 4rem;
  font-weight: 400;
}
@media (max-width: 768px) {
  .template11 .wrapper .barMaskContainer .weddingInfo .wrapper_bar1 .step_1 .al .text h3 {
    font-size: 4rem;
  }
}
@media (max-width: 480px) {
  .template11 .wrapper .barMaskContainer .weddingInfo .wrapper_bar1 .step_1 .al .text h3 {
    font-size: 3.5rem;
  }
}
.template11 .wrapper .barMaskContainer .familyInfo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #000;
  background: rgb(255, 255, 255);
  max-width: 100%;
  bottom: 0;
  z-index: 9999 !important;
  padding: 0 2rem;
  display: flex;
}
@media (max-width: 480px) {
  .template11 .wrapper .barMaskContainer .familyInfo {
    display: block;
    padding: 2rem 2rem 0;
  }
}
.template11 .wrapper .barMaskContainer .familyInfo .wrapper_bar2 {
  align-items: center;
  width: 100%;
  margin: auto;
  transform: scale(0.8);
}
.template11 .wrapper .barMaskContainer .familyInfo .wrapper_bar2 h2 {
  font-size: 5rem;
  text-transform: uppercase;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 2rem 0;
}
@media (max-width: 480px) {
  .template11 .wrapper .barMaskContainer .familyInfo .wrapper_bar2 h2 {
    font-size: 4rem;
  }
}
.template11 .wrapper .barMaskContainer .familyInfo .wrapper_bar2 .familyContainer h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}
@media (max-width: 480px) {
  .template11 .wrapper .barMaskContainer .familyInfo .wrapper_bar2 .familyContainer h1 {
    font-size: 1.5rem;
  }
}
.template11 .wrapper .barMaskContainer .familyInfo .wrapper_bar2 .familyContainer h1 strong {
  font-family: "Times New Roman", Times, serif;
}
.template11 .wrapper .barMaskContainer .familyInfo .wrapper_bar2 .familyContainer h1 p {
  font-size: 2rem;
  margin: 0 0 3rem 0;
}
@media (max-width: 480px) {
  .template11 .wrapper .barMaskContainer .familyInfo .wrapper_bar2 .familyContainer h1 p {
    font-size: 1.5rem;
  }
}
.template11 .wrapper .barMaskContainer .familyInfo .wrapper_bar2 .familyContainer .familySide:nth-child(2) {
  border-top: 0.2rem dashed #dbdbdb;
}
.template11 .wrapper .barMaskContainer .familyInfo .wrapper_bar2 .familyContainer .familySide:nth-child(3) {
  border-bottom: 0.2rem dashed #dbdbdb;
}
.template11 .wrapper .barMaskContainer .familyInfo .wrapper_bar2 .familyContainer .familySide h3 {
  font-size: 2rem;
  font-family: "Cormorant Garamond", serif;
}
@media (max-width: 480px) {
  .template11 .wrapper .barMaskContainer .familyInfo .wrapper_bar2 .familyContainer .familySide h3 {
    margin-bottom: 0;
  }
}
.template11 .wrapper .barMaskContainer .familyInfo .wrapper_bar2 .familyContainer .familySide span {
  font-size: 2.2rem;
  color: #333;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: block;
}
@media (max-width: 480px) {
  .template11 .wrapper .barMaskContainer .familyInfo .wrapper_bar2 .familyContainer .familySide span {
    font-size: 1.9rem;
  }
}
.template11 .wrapper .barMaskContainer .familyInfo .wrapper_bar2 .familyContainer .familySide p {
  color: #888;
  font-size: 1.8rem;
}
@media (max-width: 480px) {
  .template11 .wrapper .barMaskContainer .familyInfo .wrapper_bar2 .familyContainer .familySide p {
    font-size: 1.4rem;
  }
}
.template11 .wrapper .barMaskContainer .familyInfo .wrapper_bar2 .familyContainer .familySide p svg {
  margin-right: 1rem;
}
.template11 .wrapper .barMaskContainer .groomMessage,
.template11 .wrapper .barMaskContainer .brideMessage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #000;
  background: rgb(255, 255, 255);
  max-width: 100%;
  bottom: 0;
  z-index: 9999 !important;
  will-change: transform;
  backface-visibility: hidden;
  opacity: 1 !important;
  overflow-y: auto;
}
.template11 .wrapper .barMaskContainer .groomMessage::-webkit-scrollbar,
.template11 .wrapper .barMaskContainer .brideMessage::-webkit-scrollbar {
  display: none;
}
.template11 .wrapper .barMaskContainer .groomMessage.slideInRight,
.template11 .wrapper .barMaskContainer .brideMessage.slideInRight {
  animation: slideInRight 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
.template11 .wrapper .barMaskContainer .groomMessage.slideOutLeft,
.template11 .wrapper .barMaskContainer .brideMessage.slideOutLeft {
  animation: slideOutLeft 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
.template11 .wrapper .barMaskContainer .brideMessage {
  transform: translateX(100%);
}
.template11 .wrapper .barMaskContainer .wrapper_bar3 {
  min-height: 100vh;
}
.template11 .wrapper .barMaskContainer .wrapper_bar3 .step_3 {
  height: 100%;
}
.template11 .wrapper .barMaskContainer .wrapper_bar3 .step_3 .image_3 {
  overflow: hidden;
  border-radius: 0 0 50% 50%;
  max-height: 50rem;
}
@media (max-width: 768px) {
  .template11 .wrapper .barMaskContainer .wrapper_bar3 .step_3 .image_3 {
    max-height: 45rem;
  }
}
@media (max-width: 480px) {
  .template11 .wrapper .barMaskContainer .wrapper_bar3 .step_3 .image_3 {
    max-height: 35rem;
  }
}
.template11 .wrapper .barMaskContainer .wrapper_bar3 .step_3 .image_3 img {
  width: 100%;
  height: 70rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
  display: block;
}
@media (max-width: 768px) {
  .template11 .wrapper .barMaskContainer .wrapper_bar3 .step_3 .image_3 img {
    max-height: 65rem;
  }
}
@media (max-width: 480px) {
  .template11 .wrapper .barMaskContainer .wrapper_bar3 .step_3 .image_3 img {
    max-height: 45rem;
  }
}
.template11 .wrapper .barMaskContainer .wrapper_bar3 .step_3 .groomName,
.template11 .wrapper .barMaskContainer .wrapper_bar3 .step_3 .brideName {
  padding: 1rem 3rem;
  transform: scale(1);
  position: relative;
}
.template11 .wrapper .barMaskContainer .wrapper_bar3 .step_3 .groomName .change_story__button,
.template11 .wrapper .barMaskContainer .wrapper_bar3 .step_3 .brideName .change_story__button {
  position: absolute;
  bottom: 0;
  right: 5%;
  transform: translate(-5%, -50%);
  height: 7rem;
  width: 7rem;
  display: flex;
  border: 0.1rem solid #dbdbdb;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10000;
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  .template11 .wrapper .barMaskContainer .wrapper_bar3 .step_3 .groomName .change_story__button,
  .template11 .wrapper .barMaskContainer .wrapper_bar3 .step_3 .brideName .change_story__button {
    height: 6rem;
    width: 6rem;
  }
}
@media (max-width: 480px) {
  .template11 .wrapper .barMaskContainer .wrapper_bar3 .step_3 .groomName .change_story__button,
  .template11 .wrapper .barMaskContainer .wrapper_bar3 .step_3 .brideName .change_story__button {
    height: 5rem;
    width: 5rem;
  }
}
.template11 .wrapper .barMaskContainer .wrapper_bar3 .step_3 .groomName .change_story__button svg,
.template11 .wrapper .barMaskContainer .wrapper_bar3 .step_3 .brideName .change_story__button svg {
  margin: auto;
  color: #333;
  font-size: 3rem;
}
.template11 .wrapper .barMaskContainer .wrapper_bar3 .step_3 .groomName h1,
.template11 .wrapper .barMaskContainer .wrapper_bar3 .step_3 .brideName h1 {
  font-size: 7rem;
  margin: 1rem 0;
  font-weight: 400;
  font-family: "Pinyon Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
@media (max-width: 768px) {
  .template11 .wrapper .barMaskContainer .wrapper_bar3 .step_3 .groomName h1,
  .template11 .wrapper .barMaskContainer .wrapper_bar3 .step_3 .brideName h1 {
    font-size: 5rem;
  }
}
@media (max-width: 480px) {
  .template11 .wrapper .barMaskContainer .wrapper_bar3 .step_3 .groomName h1,
  .template11 .wrapper .barMaskContainer .wrapper_bar3 .step_3 .brideName h1 {
    font-size: 4rem;
  }
}
.template11 .wrapper .barMaskContainer .wrapper_bar3 .step_3 .text_story {
  transform: scale(1);
  font-size: 2.3rem;
  font-family: "Allura", cursive;
  line-height: 1.5;
  padding: 0 3rem;
}
@media (max-width: 768px) {
  .template11 .wrapper .barMaskContainer .wrapper_bar3 .step_3 .text_story {
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  .template11 .wrapper .barMaskContainer .wrapper_bar3 .step_3 .text_story {
    bottom: 0%;
    font-size: 1.7rem;
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.template11 .wrapper .groomBride {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 4rem;
}
.template11 .wrapper .groomBride h3 {
  font-family: "Pinyon Script", cursive;
  font-size: 4rem;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  margin: 0.5rem 0;
}/*# sourceMappingURL=11.module.css.map */