.Template15 {
  min-height: 100vh;
  background: #fff;
  overflow: hidden;
  position: relative;
}
.Template15 .intro {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 80rem;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  transition: opacity 0.8s ease, visibility 0.8s ease, transform 0.8s ease;
  z-index: 9999999 !important;
  min-height: 100vh;
  overflow: hidden;
  background: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.Template15 .intro.intro_closed {
  transform: translateY(-100vh);
  opacity: 0;
  visibility: hidden;
}
.Template15 .intro .title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.Template15 .intro .title h1 {
  font-size: 7rem;
  color: #333;
  font-family: "Allura", cursive;
  font-weight: 400;
  margin: 0;
  width: 100%;
}
@media (max-width: 1024px) {
  .Template15 .intro .title h1 {
    font-size: 7rem;
  }
}
@media (max-width: 768px) {
  .Template15 .intro .title h1 {
    font-size: 5rem;
  }
}
@media (max-width: 480px) {
  .Template15 .intro .title h1 {
    font-size: 3rem;
  }
}
.Template15 .intro .title p {
  font-size: 2.2rem;
  color: #333;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .Template15 .intro .title p {
    font-size: 2.2rem;
  }
}
@media (max-width: 768px) {
  .Template15 .intro .title p {
    font-size: 1.8rem;
  }
}
@media (max-width: 480px) {
  .Template15 .intro .title p {
    font-size: 1.2rem;
  }
}
.Template15 .intro .text_And {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Allura", cursive;
  font-size: 30rem;
  color: #e2e2e2;
}
@media (max-width: 1024px) {
  .Template15 .intro .text_And {
    font-size: 30rem;
  }
}
@media (max-width: 768px) {
  .Template15 .intro .text_And {
    font-size: 27rem;
  }
}
@media (max-width: 480px) {
  .Template15 .intro .text_And {
    font-size: 22rem;
  }
}
.Template15 .intro .groom_bride__intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Pinyon Script", cursive;
  font-size: 11rem;
  color: #333;
  width: 100%;
  text-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
}
@media (max-width: 1024px) {
  .Template15 .intro .groom_bride__intro {
    font-size: 10rem;
  }
}
@media (max-width: 768px) {
  .Template15 .intro .groom_bride__intro {
    font-size: 10rem;
  }
}
@media (max-width: 480px) {
  .Template15 .intro .groom_bride__intro {
    font-size: 7rem;
  }
}
.Template15 .intro .groom_bride__intro span {
  display: block;
}
.Template15 .intro .wrapper_animation__Click {
  left: 50%;
  bottom: 18%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  color: #dbdbdb;
  cursor: pointer;
  width: 21rem;
}
.Template15 .intro .wrapper_animation__Click .icon_arrow__left .chevronLeft {
  color: #dbdbdb;
  opacity: 0;
  animation: swipeUpFadeLeft 1.2s infinite;
}
.Template15 .intro .wrapper_animation__Click .icon_arrow__left .chevronLeft:first-child {
  animation-delay: 0.4s;
}
.Template15 .intro .wrapper_animation__Click .icon_arrow__left .chevronLeft:last-child {
  animation-delay: 0s;
}
.Template15 .intro .wrapper_animation__Click .text {
  font-size: 1rem;
  color: #dbdbdb;
  padding: 0 0.5rem;
  text-align: center;
  animation: swipeUpFadeUP 2s infinite;
  margin: auto;
}
.Template15 .intro .wrapper_animation__Click .icon_arrow__right .chevronRight {
  color: #dbdbdb;
  opacity: 0;
  animation: swipeUpFadeRight 1.2s infinite;
}
.Template15 .intro .wrapper_animation__Click .icon_arrow__right .chevronRight:first-child {
  animation-delay: 0.4s;
}
.Template15 .intro .wrapper_animation__Click .icon_arrow__right .chevronRight:last-child {
  animation-delay: 0s;
}
@keyframes swipeUpFadeUP {
  0% {
    opacity: 0;
    transform: translateY(3px);
  }
  30% {
    opacity: 1;
    transform: translateY(0);
  }
  60% {
    opacity: 0.5;
    transform: translateY(-1.5px);
  }
  100% {
    opacity: 0;
    transform: translateY(-3px);
  }
}
@keyframes swipeUpFadeLeft {
  100% {
    opacity: 0;
    transform: translateX(6px);
  }
  60% {
    opacity: 1;
    transform: translateX(0);
  }
  30% {
    opacity: 0.5;
    transform: translateX(-3px);
  }
  0% {
    opacity: 0;
    transform: translateX(-6px);
  }
}
@keyframes swipeUpFadeRight {
  0% {
    opacity: 0;
    transform: translateX(6px);
  }
  30% {
    opacity: 1;
    transform: translateX(0);
  }
  60% {
    opacity: 0.5;
    transform: translateX(-3px);
  }
  100% {
    opacity: 0;
    transform: translateX(-6px);
  }
}
.Template15 .intro .invition_name {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, -8%);
  width: 100%;
  max-width: 55rem;
  margin: 0 auto;
  align-items: center;
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-transform: uppercase;
  color: #333;
  z-index: 5;
}
@media (max-width: 768px) {
  .Template15 .intro .invition_name {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .Template15 .intro .invition_name {
    font-size: 1.5rem;
  }
}
.Template15 .intro .invition_name strong {
  font-family: "Allura", cursive;
  font-size: 3rem;
  text-transform: none;
  display: block;
  padding-top: 1rem;
  color: #333;
}
.Template15 .dynamic {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(51, 51, 51, 0.9);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 20rem;
  height: 3.5rem;
  z-index: 9999;
  border-radius: 2rem;
  transition: all 0.3s ease;
  overflow: hidden;
  color: #fff;
  cursor: pointer;
  z-index: 98;
}
.Template15 .dynamic.expanded {
  height: 9rem;
  max-width: 50rem !important;
  width: 30%;
  border-radius: 1.5rem;
}
.Template15 .dynamic .dynamic_content {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.Template15 .dynamic .dynamic_content .controls {
  cursor: pointer;
}
.Template15 .dynamic .dynamic_content .playPauseIcon {
  width: 2rem;
  height: 2rem;
  color: #fff;
}
.Template15 .dynamic .dynamic_content h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50rem;
}
.Template15 .dynamic .expanded_content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.Template15 .dynamic .expanded_content .song_info {
  text-align: center;
}
.Template15 .dynamic .expanded_content .song_info h4 {
  margin: 0;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 26rem;
  font-weight: 600;
}
.Template15 .dynamic .expanded_content .song_info p {
  margin: 0.5rem 0 0;
  font-size: 1.1rem;
  color: #ccc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 26rem;
}
.Template15 .dynamic .expanded_content .progress_bar {
  width: 100%;
  height: 0.3rem;
  background: #555;
  border-radius: 0.15rem;
  overflow: hidden;
}
@media (max-width: 768px) {
  .Template15 .dynamic {
    width: 18rem;
  }
  .Template15 .dynamic.expanded {
    max-width: 50rem;
    width: 90vw;
  }
}
.Template15 .wrapper {
  max-width: 80rem;
  margin: 0 auto;
  min-height: 100vh;
  border: 0.1rem solid #dbdbdb;
  position: relative;
}
.Template15 .wrapper .mainImage {
  border-radius: 0 0 2rem 2rem;
  overflow: hidden;
  position: relative;
}
.Template15 .wrapper .mainImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.35);
  height: 100%;
}
.Template15 .wrapper .mainImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.Template15 .wrapper .mainImage .content_main {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin: auto;
  width: 100%;
}
.Template15 .wrapper .mainImage .content_main .groom_name,
.Template15 .wrapper .mainImage .content_main .bride_name {
  font-size: 10rem;
  font-family: "Lora", serif;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .Template15 .wrapper .mainImage .content_main .groom_name,
  .Template15 .wrapper .mainImage .content_main .bride_name {
    font-size: 8rem;
  }
}
@media (max-width: 480px) {
  .Template15 .wrapper .mainImage .content_main .groom_name,
  .Template15 .wrapper .mainImage .content_main .bride_name {
    font-size: 5rem;
  }
}
.Template15 .wrapper .mainImage .content_main .and {
  font-size: 10rem;
  color: #fff;
  font-family: "Allura", cursive;
}
@media (max-width: 768px) {
  .Template15 .wrapper .mainImage .content_main .and {
    font-size: 8rem;
  }
}
@media (max-width: 480px) {
  .Template15 .wrapper .mainImage .content_main .and {
    font-size: 5rem;
  }
}
.Template15 .wrapper .familyInfo {
  max-width: 100%;
  bottom: 0;
  z-index: 9999 !important;
  padding: 0;
  display: flex;
  min-height: 80vh;
  align-items: center;
}
@media (max-width: 480px) {
  .Template15 .wrapper .familyInfo {
    padding: 0;
  }
}
.Template15 .wrapper .familyInfo .wrapper_bar2 {
  width: 100%;
  background: #fff;
  border-radius: 1rem;
  padding: 0;
  color: #04183a;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.Template15 .wrapper .familyInfo .wrapper_bar2::-webkit-scrollbar {
  display: none;
}
.Template15 .wrapper .familyInfo .wrapper_bar2 h2 {
  font-size: 5rem;
  text-transform: uppercase;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  transform: scale(0.9);
  margin: 2rem 0;
  text-align: center;
  color: #04183a;
}
@media (max-width: 480px) {
  .Template15 .wrapper .familyInfo .wrapper_bar2 h2 {
    font-size: 4rem;
  }
}
.Template15 .wrapper .familyInfo .wrapper_bar2 .familyContainer h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  transform: scale(0.9);
  line-height: 1.5;
  text-align: center;
  max-width: 80rem;
  width: 100%;
  color: #04183a;
}
@media (max-width: 480px) {
  .Template15 .wrapper .familyInfo .wrapper_bar2 .familyContainer h1 {
    font-size: 1.49rem;
  }
}
.Template15 .wrapper .familyInfo .wrapper_bar2 .familyContainer .dat {
  font-size: 2.1rem;
  text-transform: uppercase;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  transform: scale(0.9);
  line-height: 1.5;
  text-align: center;
  max-width: 80rem;
  width: 100%;
  color: #04183a;
}
@media (max-width: 480px) {
  .Template15 .wrapper .familyInfo .wrapper_bar2 .familyContainer .dat {
    font-size: 1.6rem;
  }
}
.Template15 .wrapper .familyInfo .wrapper_bar2 .familyContainer .dat strong {
  font-family: "Times New Roman", Times, serif;
}
.Template15 .wrapper .familyInfo .wrapper_bar2 .familyContainer .dat p {
  font-size: 3rem;
  transform: scale(0.8);
  margin: 0 0 3rem 0;
}
@media (max-width: 480px) {
  .Template15 .wrapper .familyInfo .wrapper_bar2 .familyContainer .dat p {
    font-size: 1.7rem;
  }
}
.Template15 .wrapper .familyInfo .wrapper_bar2 .familyContainer .groom_and_bride {
  font-family: "Pinyon Script", cursive;
  margin: 1rem 0;
  font-size: 12rem;
  font-weight: 400 !important;
  text-align: center;
  color: #333;
}
.Template15 .wrapper .familyInfo .wrapper_bar2 .familyContainer .groom_and_bride div {
  padding: 1rem 0;
}
@media (max-width: 768px) {
  .Template15 .wrapper .familyInfo .wrapper_bar2 .familyContainer .groom_and_bride {
    font-size: 10rem;
  }
}
@media (max-width: 480px) {
  .Template15 .wrapper .familyInfo .wrapper_bar2 .familyContainer .groom_and_bride {
    font-size: 6rem;
  }
}
.Template15 .wrapper .familyInfo .wrapper_bar2 .familyContainer .flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
}
.Template15 .wrapper .familyInfo .wrapper_bar2 .familyContainer .flex .familySide {
  flex: 1 1;
}
.Template15 .wrapper .familyInfo .wrapper_bar2 .familyContainer .flex .familySide h3 {
  font-size: 2rem;
  font-family: "Cormorant Garamond", serif;
  transform: scale(0.8);
  text-align: center;
  color: #04183a;
}
@media (max-width: 480px) {
  .Template15 .wrapper .familyInfo .wrapper_bar2 .familyContainer .flex .familySide h3 {
    margin-bottom: 0;
  }
}
.Template15 .wrapper .familyInfo .wrapper_bar2 .familyContainer .flex .familySide span {
  font-size: 2.2rem;
  color: #04183a;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: block;
  transform: scale(0.8);
  text-align: center;
}
@media (max-width: 480px) {
  .Template15 .wrapper .familyInfo .wrapper_bar2 .familyContainer .flex .familySide span {
    font-size: 1.7rem;
  }
}
.Template15 .wrapper .familyInfo .wrapper_bar2 .familyContainer .flex .familySide p {
  color: #888;
  font-size: 1.8rem;
  transform: scale(0.8);
  text-align: center;
}
@media (max-width: 480px) {
  .Template15 .wrapper .familyInfo .wrapper_bar2 .familyContainer .flex .familySide p {
    font-size: 1.4rem;
  }
}
.Template15 .wrapper .familyInfo .wrapper_bar2 .familyContainer .flex .familySide p svg {
  margin-right: 1rem;
}
.Template15 .wrapper .banner_date {
  text-align: center;
  padding: 0 1rem;
  background: #fff;
}
.Template15 .wrapper .banner_date .text_png {
  max-width: 60rem;
  margin: auto;
}
.Template15 .wrapper .banner_date .text_png img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Template15 .wrapper .banner_date .dateRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: "Playfair Display", serif;
  font-size: 15rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .Template15 .wrapper .banner_date .dateRow {
    font-size: 12rem;
  }
}
@media (max-width: 480px) {
  .Template15 .wrapper .banner_date .dateRow {
    font-size: 9rem;
  }
}
.Template15 .wrapper .banner_date .dateRow span {
  display: block;
}
.Template15 .wrapper .banner_date .dateRow span:nth-child(2) {
  margin-top: 5rem;
  margin-bottom: -7rem;
}
.Template15 .wrapper .banner_date .dateRow span:nth-child(3) {
  margin-top: 10rem;
  margin-bottom: -14rem;
}
.Template15 .wrapper .banner_date .photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.Template15 .wrapper .banner_date .photos img {
  width: 100%;
  height: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border: 0.1rem solid #dbdbdb;
  border-radius: 1rem;
  overflow: hidden;
}
@media (max-width: 768px) {
  .Template15 .wrapper .banner_date .photos img {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .Template15 .wrapper .banner_date .photos img {
    height: 20rem;
  }
}
.Template15 .wrapper .banner_date .banner_img__2 {
  margin-top: 5rem;
  margin-bottom: -7rem;
}
.Template15 .wrapper .banner_date .banner_img__3 {
  margin-top: 10rem;
  margin-bottom: -14rem;
}
.Template15 .wrapper .love_story {
  margin-top: 13rem;
  text-align: center;
}
.Template15 .wrapper .love_story .image_title {
  max-width: 45rem;
  margin: 0 auto 1rem;
}
.Template15 .wrapper .love_story .image_title img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.Template15 .wrapper .love_story .story_wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.Template15 .wrapper .love_story .story_box {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.Template15 .wrapper .love_story .story_box .story_image {
  flex: 1;
}
.Template15 .wrapper .love_story .story_box .story_image img {
  width: 100%;
  border-radius: 1.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border: 0.1rem solid #dbdbdb;
  border-radius: 2rem;
}
.Template15 .wrapper .love_story .story_box .story_text {
  flex: 1;
  text-align: left;
}
.Template15 .wrapper .love_story .story_box .story_text h3 {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
  font-family: "Playfair Display", serif;
  color: #1d1d1d;
}
.Template15 .wrapper .love_story .story_box .story_text p {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #444;
}
.Template15 .wrapper .love_story .reverse {
  flex-direction: row-reverse;
}
.Template15 .wrapper .love_story .reverse .story_text {
  text-align: right;
}
@media (max-width: 768px) {
  .Template15 .wrapper .love_story .story_box {
    gap: 1rem;
  }
  .Template15 .wrapper .love_story .story_box .story_text h3 {
    font-size: 1.8rem;
  }
  .Template15 .wrapper .love_story .story_box .story_text p {
    font-size: 1.1rem;
    line-height: 1.4;
  }
  .Template15 .wrapper .love_story .story_wrapper {
    gap: 3rem;
  }
}
.Template15 .wrapper .wrapper_teeth {
  width: 100%;
  background: #111;
  border-radius: 1rem;
  padding: 4rem 0;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: 2rem auto 0 auto;
}
.Template15 .wrapper .wrapper_teeth .teethTop,
.Template15 .wrapper .wrapper_teeth .teethBottom {
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0;
}
.Template15 .wrapper .wrapper_teeth .teethTop {
  top: -2rem;
}
.Template15 .wrapper .wrapper_teeth .teethBottom {
  bottom: -2rem;
}
.Template15 .wrapper .wrapper_teeth .tooth {
  width: 3rem;
  height: 3rem;
  background: #fff;
  border-radius: 50%;
}
.Template15 .wrapper .wrapper_teeth .calendar {
  position: relative;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 0rem 1rem 1rem 1rem;
  border: none;
  background-position: bottom;
  background-size: 100% 2px;
  background-repeat: repeat-x;
  position: relative;
}
.Template15 .wrapper .wrapper_teeth .calendar::before {
  content: "";
  position: absolute;
  bottom: -8rem;
  left: -3.5rem;
  width: 5rem;
  height: 90%;
  border-radius: 5rem;
  background: #fff;
}
.Template15 .wrapper .wrapper_teeth .calendar::after {
  content: "";
  position: absolute;
  bottom: -8rem;
  right: -3.5rem;
  width: 5rem;
  height: 90%;
  border-radius: 5rem;
  background: #fff;
}
.Template15 .wrapper .wrapper_teeth .calendar .calendarHeader h3 {
  font-size: 3.5rem;
  color: #fff;
  font-family: "Pinyon Script", cursive;
  margin: 1rem;
}
.Template15 .wrapper .wrapper_teeth .calendar .calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  padding: 1rem;
  border-radius: 8px;
}
.Template15 .wrapper .wrapper_teeth .calendar .dayName {
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding: 8px;
  font-size: 1.5rem;
}
.Template15 .wrapper .wrapper_teeth .calendar .calendarDay {
  padding: 8px;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  border-radius: 50%;
  transition: background-color 0.3s;
  position: relative;
  font-family: "Sue Ellen Francisco", cursive;
  font-weight: 400;
  font-style: normal;
}
.Template15 .wrapper .wrapper_teeth .calendar .calendarDay.emptyDay {
  background-color: transparent;
  z-index: 99999 !important;
  position: relative;
  color: #fff;
}
.Template15 .wrapper .wrapper_teeth .calendar .calendarDay.weddingDay {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Sue Ellen Francisco", cursive;
  font-weight: 500;
  font-style: normal;
}
.Template15 .wrapper .wrapper_teeth .calendar .calendarDay.weddingDay .weddingDayContent {
  position: relative;
  z-index: 2;
  font-size: 1.6rem;
  color: #630606;
  font-weight: 600;
}
.Template15 .wrapper .wrapper_teeth .calendar .calendarDay.weddingDay .heartIcon {
  position: absolute;
  z-index: -1;
  font-size: 4rem;
  color: #ccaa80;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Template15 .wrapper .wrapper_teeth .count {
  position: relative;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Template15 .wrapper .wrapper_teeth .count .countdownContainer {
  position: relative;
  width: 100%;
  max-width: 80rem;
  padding: 0 1rem;
  display: flex;
  min-height: 20vh;
}
.Template15 .wrapper .wrapper_teeth .count .countdownContainer .timerSection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Template15 .wrapper .wrapper_teeth .count .countdownContainer .timerSection .title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .Template15 .wrapper .wrapper_teeth .count .countdownContainer .timerSection .title {
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  .Template15 .wrapper .wrapper_teeth .count .countdownContainer .timerSection .title {
    font-size: 1.5rem;
  }
}
.Template15 .wrapper .wrapper_teeth .count .countdownContainer .timerSection .timerDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.Template15 .wrapper .wrapper_teeth .count .countdownContainer .timerSection .timerDisplay .timeGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}
.Template15 .wrapper .wrapper_teeth .count .countdownContainer .timerSection .timerDisplay .timeGroup .timeValue {
  font-size: 5rem;
  font-weight: 800;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  color: #fff;
}
@media (max-width: 768px) {
  .Template15 .wrapper .wrapper_teeth .count .countdownContainer .timerSection .timerDisplay .timeGroup .timeValue {
    font-size: 5rem;
  }
}
@media (max-width: 480px) {
  .Template15 .wrapper .wrapper_teeth .count .countdownContainer .timerSection .timerDisplay .timeGroup .timeValue {
    font-size: 3rem;
  }
}
.Template15 .wrapper .wrapper_teeth .count .countdownContainer .timerSection .timerDisplay .timeGroup .timeUnit {
  font-size: 1.2rem;
  margin: 0.5rem 0 0.7rem 0;
}
@media (max-width: 768px) {
  .Template15 .wrapper .wrapper_teeth .count .countdownContainer .timerSection .timerDisplay .timeGroup .timeUnit {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .Template15 .wrapper .wrapper_teeth .count .countdownContainer .timerSection .timerDisplay .timeGroup .timeUnit {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}
.Template15 .wrapper .wrapper_teeth .flex_btn__map {
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 768px) {
  .Template15 .wrapper .wrapper_teeth .flex_btn__map {
    padding: 1.5rem 1rem;
  }
}
@media (max-width: 480px) {
  .Template15 .wrapper .wrapper_teeth .flex_btn__map {
    padding: 1.5rem 1rem;
  }
}
.Template15 .wrapper .wrapper_teeth .flex_btn__map .map_groom {
  flex: 1 1;
  border: 0.1rem solid rgba(51, 51, 51, 0.2);
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  border-radius: 0.5rem;
  background: #fff;
  color: #04183a;
}
.Template15 .wrapper .wrapper_teeth .flex_btn__map .map_groom svg {
  margin-right: 0.5rem;
}
@media (max-width: 768px) {
  .Template15 .wrapper .wrapper_teeth .flex_btn__map .map_groom {
    border-radius: 1rem;
  }
}
@media (max-width: 480px) {
  .Template15 .wrapper .wrapper_teeth .flex_btn__map .map_groom {
    border-radius: 1rem;
    font-size: 1.3rem;
  }
}
.Template15 .wrapper .wrapper_teeth .flex_btn__map .map_bride {
  flex: 1 1;
  border: 0.1rem solid rgba(51, 51, 51, 0.2);
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  border-radius: 0.5rem;
  background: #fff;
  color: #04183a;
}
.Template15 .wrapper .wrapper_teeth .flex_btn__map .map_bride svg {
  margin-right: 0.5rem;
}
@media (max-width: 768px) {
  .Template15 .wrapper .wrapper_teeth .flex_btn__map .map_bride {
    border-radius: 1rem;
  }
}
@media (max-width: 480px) {
  .Template15 .wrapper .wrapper_teeth .flex_btn__map .map_bride {
    border-radius: 1rem;
    font-size: 1.3rem;
  }
}
.Template15 .wrapper .wrapper_map {
  padding: 1rem;
  background: #fff;
}
.Template15 .wrapper .wrapper_map .google_map {
  overflow: hidden;
  border-radius: 1rem;
  margin: auto;
}
.Template15 .wrapper .wrapper_map .google_map iframe {
  border: none;
  width: 100%;
  border-radius: 1rem;
  height: 50rem;
}
.Template15 .wrapper .wrapper_map .google_map img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Template15 .wrapper .galary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
}
.Template15 .wrapper .galary img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  overflow: hidden;
}
.Template15 .wrapper .galary div:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
  border: 0.1rem solid #dbdbdb;
  border-radius: 1rem;
  overflow: hidden;
}
.Template15 .wrapper .galary div:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
  border: 0.1rem solid #dbdbdb;
  border-radius: 1rem;
  overflow: hidden;
}
.Template15 .wrapper .galary div:nth-child(3) {
  grid-column: 1/2;
  grid-row: 2/3;
  border: 0.1rem solid #dbdbdb;
  border-radius: 1rem;
  overflow: hidden;
}
.Template15 .wrapper .galary div:nth-child(4) {
  grid-column: 2/3;
  grid-row: 2/3;
  border: 0.1rem solid #dbdbdb;
  border-radius: 1rem;
  overflow: hidden;
}
.Template15 .wrapper .galary div:nth-child(5) {
  grid-column: 1/3;
  grid-row: 3/4;
  border: 0.1rem solid #dbdbdb;
  border-radius: 1rem;
  overflow: hidden;
}
.Template15 .wrapper .footer {
  min-height: 40vh;
  align-items: center;
  display: flex;
  background: #111;
}
.Template15 .wrapper .footer .column_text {
  text-align: center;
  max-width: 60rem;
  width: 95%;
  margin: auto;
}
.Template15 .wrapper .footer .column_text h3 {
  font-size: 8.5rem;
  margin: 0;
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  color: #fff;
}
@media (max-width: 768px) {
  .Template15 .wrapper .footer .column_text h3 {
    font-size: 5.5rem;
  }
}
.Template15 .wrapper .footer .column_text .subtext {
  font-size: 2.5rem;
  width: 25rem;
  line-height: 1.5;
  font-family: "Allura", cursive;
  color: #fff;
}
@media (max-width: 768px) {
  .Template15 .wrapper .footer .column_text .subtext {
    font-size: 2.5rem;
  }
}
@media (max-width: 480px) {
  .Template15 .wrapper .footer .column_text .subtext {
    font-size: 1.8rem;
  }
}
.Template15 .wrapper .footer img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=15.module.css.map */