.job {
    padding: 3rem 0;
    background-color: var(--bg-White);

    .filter-job {
        padding: 1rem 0;
        background: var(--globalColor);

        .navigation-search {
            display: flex;
            align-items: center;
            gap: 2rem;
            padding: 2rem 15%;

            .box-input {
                width: calc(100% - 45%);
                background: var(--colorWhiteText);
                padding: 1rem 1.5rem;
                border-radius: .5rem;
                font-size: 1.5rem;

                input {
                    width: 100%;

                    &::placeholder {
                        font-size: 1.4rem;
                    }
                }
            }

            .box-select {
                width: calc(100% - 70%);
                background: var(--colorWhiteText);
                padding: 1rem 1.5rem;
                border-radius: .5rem;

                select {
                    width: 100%;
                    font-size: 1.4rem;
                }
            }

            .btn-find {
                width: calc(100% - 85%);
                padding: 1rem 1.5rem;
                border-radius: .5rem;
                font-size: 1.4rem;
            }
        }
    }

    .job-container {
        padding: 3rem 15% 1rem !important;

        .header-searchByCriteria {
            display: flex;
            align-items: center;
            gap: 2rem;
            width: 100%;
        }

        .filter-searchByCriteria {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 1rem;
            width: 100%;

            .filter {
                flex: 1 1 18rem;
                background: var(--bg-White);
                color: var(--colorBlackText);
                display: flex;
                align-items: center;

                select,
                input {
                    padding: 1rem;
                    cursor: pointer;
                    width: 100%;
                    font-size: 1.3rem;
                }

                input {
                    font-size: 1.4rem;
                    width: 100%;
                }

                .ant-input-number-group-addon {
                    margin-right: 1rem;
                    font-size: 1.4rem;
                }
            }
        }
    }

    .job-wrapperContainer {
        padding: 1rem 15%;

        .Container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
            gap: 1.5rem;

            .box {
                position: relative;
                padding: 1rem;
                display: flex;
                align-items: center;
                gap: 2rem;
                border: .1rem solid var(--border);
                background: var(--bg-White);
                border-radius: 1rem;
                cursor: pointer;

                &:hover {
                    background: var(--hoverBox);
                    border: .1rem solid var(--hoverBoxBd);
                }

                .whislist {
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    padding: 1rem;
                    background: #e6f6ed;
                    color: var(--globalColor);
                    font-size: 1.7rem;
                    border-radius: 50%;
                }

                .tag-rank {
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: .5rem 1.5rem;
                    background: var(--viewDetails);
                    color: var(--colorWhiteText);
                    font-size: 1.4rem;
                    border-bottom-right-radius: .5rem;
                    display: none;
                    align-items: center;
                    gap: .5rem;
                    text-transform: uppercase;

                    svg {
                        font-size: 1.7rem;
                    }
                }

                .company-logo {
                    max-width: 10rem;
                    width: 100%;
                    display: flex;

                    img {
                        width: 8.5rem;
                        margin: auto;
                    }
                }

                .info {
                    .job-info {
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        .company-name {
                            font-size: 1.4rem;
                            max-width: 31rem;
                            line-height: 1.3;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    .group {
                        margin-left: 2rem;
                        font-size: 1.2rem;
                        color: var(--textBlur);
                        max-width: 29rem;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .Salary-Negotiable {
                        display: flex;
                        align-items: center;
                        margin-top: 1rem;
                        margin-left: 2rem;
                        font-size: 1.4rem;
                        color: var (--colorBlackText);

                        .Salary,
                        .Salary-from {
                            font-weight: var(--weight500);
                            color: var(--viewDetails);
                        }

                        .Salary-from {
                            margin-right: .3rem;
                            font-weight: var(--weight550);
                        }

                        .Salary-to {
                            margin-left: .3rem;
                            font-weight: var(--weight550);
                        }
                    }

                    .job-content-bottom {
                        margin-top: 1rem;
                        margin-left: 2rem;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 1rem;
                        align-items: center;

                        .job-content-bottom-tag {
                            display: flex;
                            align-items: center;
                            gap: 1rem;

                            .location,
                            .views-box {
                                padding: .5rem 1rem;
                                border: .1rem solid var(--border);
                                border-radius: .5rem;
                                font-size: 1.2rem;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                max-width: 25rem;
                            }
                        }


                        .job-content-bottom-expired {
                            border-radius: .5rem;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }

        .pagination {
            margin: 1.5rem 0;
            padding: 0;
            float: right;
            display: flex;
            gap: 2rem;
            align-items: center;
            border: .1rem solid var(--border);
            border-radius: 15rem;
            overflow: hidden;

            button {
                padding: .7rem 1.5rem;
            }

            span {
                font-size: 1.3rem;
            }
        }
    }
}