.job {
  margin-top: 4.2rem;
  padding: 3rem 0;
  background-color: var(--bg-White);
}
.job .filter-job {
  padding: 1rem 0;
  background: var(--globalColor);
}
.job .filter-job .navigation-search {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  padding: 2rem 10%;
}
.job .filter-job .navigation-search .box-input {
  flex: 1 1 70rem;
  width: 55%;
  background: var(--colorWhiteText);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}
.job .filter-job .navigation-search .box-input input {
  width: 100%;
}
.job .filter-job .navigation-search .box-input input::-moz-placeholder {
  font-size: 1.4rem;
}
.job .filter-job .navigation-search .box-input input::placeholder {
  font-size: 1.4rem;
}
.job .filter-job .navigation-search .box-select {
  flex: 1 1 20rem;
  width: 30%;
  background: var(--colorWhiteText);
  padding: 0.9rem 1.5rem;
  border-radius: 0.5rem;
}
.job .filter-job .navigation-search .box-select select {
  width: 100%;
  font-size: 1.4rem;
}
.job .filter-job .navigation-search .btn-find {
  flex: 1 1 10rem;
  width: 15%;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
}
.job .job-container {
  padding: 3rem 10% 1rem !important;
}
.job .job-container .header-searchByCriteria {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.job .job-container .filter-searchByCriteria {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}
.job .job-container .filter-searchByCriteria .filter {
  flex: 1 1 21rem;
  background: var(--bg-White);
  color: var(--colorBlackText);
  display: flex;
  align-items: center;
}
.job .job-container .filter-searchByCriteria .filter select,
.job .job-container .filter-searchByCriteria .filter input {
  padding: 1rem;
  cursor: pointer;
  width: 100%;
  font-size: 1.3rem;
}
.job .job-container .filter-searchByCriteria .filter input {
  font-size: 1.4rem;
  width: 100%;
}
.job .job-container .filter-searchByCriteria .filter .ant-input-number-group-addon {
  margin-right: 1rem;
  font-size: 1.4rem;
}
.job .job-wrapperContainer {
  padding: 1rem 10%;
}
.job .job-wrapperContainer .Container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.job .job-wrapperContainer .Container .box {
  position: relative;
  padding: 1rem 4.5rem 1rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 0.1rem solid var(--border);
  background: var(--bg-White);
  border-radius: 1rem;
  cursor: pointer;
}
.job .job-wrapperContainer .Container .box:hover {
  background: var(--hoverBox);
  border: 0.1rem solid var(--hoverBoxBd);
}
.job .job-wrapperContainer .Container .box .whislist {
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  padding: 0.7rem;
  background: #e6f6ed;
  color: var(--globalColor);
  font-size: 1.4rem;
  border-radius: 50%;
}
.job .job-wrapperContainer .Container .box .tag-rank {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 1.5rem;
  background: var(--viewDetails);
  color: var(--colorWhiteText);
  font-size: 1.4rem;
  border-bottom-right-radius: 0.5rem;
  display: none;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
}
.job .job-wrapperContainer .Container .box .tag-rank svg {
  font-size: 1.7rem;
}
.job .job-wrapperContainer .Container .box .company-logo {
  max-width: 10rem;
  width: 100%;
  display: flex;
}
.job .job-wrapperContainer .Container .box .company-logo img {
  width: 8rem;
  margin: auto;
}
.job .job-wrapperContainer .Container .box .info {
  max-width: 32rem;
  width: 90%;
  overflow: hidden;
}
.job .job-wrapperContainer .Container .box .info .job-info .company-name {
  font-size: 1.4rem;
  line-height: 1.3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.job .job-wrapperContainer .Container .box .info .group {
  margin-left: 2rem;
  font-size: 1.2rem;
  color: var(--textBlur);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.job .job-wrapperContainer .Container .box .info .Salary-Negotiable {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-left: 2rem;
  font-size: 1.4rem;
  color: var --colorBlackText;
}
.job .job-wrapperContainer .Container .box .info .Salary-Negotiable .Salary,
.job .job-wrapperContainer .Container .box .info .Salary-Negotiable .Salary-from {
  font-weight: var(--weight500);
  color: var(--viewDetails);
}
.job .job-wrapperContainer .Container .box .info .Salary-Negotiable .Salary-from {
  margin-right: 0.3rem;
  font-weight: var(--weight550);
}
.job .job-wrapperContainer .Container .box .info .Salary-Negotiable .Salary-to {
  margin-left: 0.3rem;
  font-weight: var(--weight550);
}
.job .job-wrapperContainer .Container .box .info .job-content-bottom {
  margin-top: 1rem;
  margin-left: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
.job .job-wrapperContainer .Container .box .info .job-content-bottom .job-content-bottom-tag {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}
.job .job-wrapperContainer .Container .box .info .job-content-bottom .job-content-bottom-tag .location,
.job .job-wrapperContainer .Container .box .info .job-content-bottom .job-content-bottom-tag .views-box {
  padding: 0.5rem 1rem;
  border: 0.1rem solid var(--border);
  border-radius: 0.5rem;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.job .job-wrapperContainer .Container .box .info .job-content-bottom .job-content-bottom-tag .location {
  flex: 1 1;
  width: auto;
  text-align: center;
}
.job .job-wrapperContainer .Container .box .info .job-content-bottom .job-content-bottom-expired {
  border-radius: 0.5rem;
  font-size: 1.2rem;
}
.job .job-wrapperContainer .pagination {
  display: flex;
  margin: 1.5rem 0;
  margin: auto;
  width: 22rem;
  padding: 0;
  gap: 2rem;
  align-items: center;
  border-radius: 15rem;
  overflow: hidden;
}
.job .job-wrapperContainer .pagination button {
  margin: auto;
  padding: 1rem 1.3rem;
  background: var(--hoverBox);
  border: 0.1rem solid var(--hoverBoxBd);
  border-radius: 5rem;
}
.job .job-wrapperContainer .pagination span {
  margin: auto;
  font-size: 1.5rem;
}/*# sourceMappingURL=jobs.module.css.map */