.jobTag {


    .wrapper__jobTag {
        margin-top: 2rem;

        .filter__work {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: space-between;
            padding: 2rem;
            border: .1rem solid var(--border);
            border-radius: .3rem;

            .filter_work__location,
            .filter_work__level,
            .filter_work__types,
            .filter_work__ContractTypes {
                flex: 1 1 15rem;

                select {
                    width: 100%;
                    font-size: 1.3rem;
                    cursor: pointer;

                    option {
                        font-size: 1.4rem;
                    }
                }

            }
        }

        .wrapper_jobs {
            h2 {
                padding: 2rem;
                background: var(--bg-White);
                border-bottom: .1rem solid var(--border);

                .tag {
                    margin-left: 1rem;
                    padding: .5rem 1rem;
                    border: .2rem solid var(--hoverBoxBd);
                    border-radius: .5rem;
                }
            }

            .wrapper_jobsContainer {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(52rem, 1fr));
                margin-top: 4rem;
                gap: 2rem;
                background: var(--bg-White);
                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
                padding: 2rem;

                .box_jobs {
                    position: relative;
                    display: flex;
                    width: 100%;
                    gap: 2rem;
                    border: .1rem solid var(--border);
                    border-radius: .1rem;
                    padding: 2rem 1rem 1rem 1rem;
                    border-radius: .5rem;
                    background: var(--hoverBox);
                    cursor: pointer;

                    .image_company {
                        flex: 1 1 15rem;
                        max-width: 25rem;
                        display: flex;
                        object-fit: contain;

                        img {
                            width: 15rem;
                            height: 100%;
                            object-fit: contain;
                            margin: auto;
                        }
                    }

                    .content {
                        flex: 1 1 60rem;

                        h3 {
                            font-size: 1.7rem;
                        }


                        .tag__job {
                            display: flex;
                            padding: 1rem 0;
                            margin-left: 3rem;
                            margin-top: 1.5rem;
                            border-top: .1rem solid var(--border);
                            display: flex;
                            gap: 1.5rem;

                            p {
                                padding: .6rem 1.5rem;
                                border-radius: .3rem;
                                font-size: 1.3rem;
                                border: .1rem solid var(--hoverBoxBd);
                            }
                        }

                        .company__name {
                            // position: absolute;
                            // top: 0;
                            // left: 0;
                            max-width: 29rem;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            padding: .7rem 1.5rem;
                            // background: var(--globalColor);
                            display: flex;
                            align-items: center;
                            font-size: 1.5rem;
                            gap: .5rem;
                            font-size: 1.4rem;
                            border-bottom-right-radius: .5rem;
                            color: var(--textBlur);
                            margin-left: 1.5rem;
                            
                        }


                        .job_level {
                            display: flex;
                            align-items: center;
                            font-size: 1.4rem;
                            gap: .5rem;
                            margin-left: 3rem;

                            p {
                                border: .1rem solid var(--viewDetails);
                                font-size: 1.4rem;
                                padding: .5rem 1.5rem;
                                border-radius: .5rem;
                                font-weight: var(--weight550);
                                color: var(--viewDetails);
                            }
                        }

                        .job_level {
                            margin-top: 1.5rem;
                            display: flex;
                            gap: 1.5rem;

                            p {
                                padding: .6rem 1.5rem;
                                border-radius: .3rem;
                                font-size: 1.3rem;
                                border: .1rem solid var(--hoverBoxBd);
                            }
                        }


                    }
                }
            }
        }
    }
}