.card {

    padding: 2rem; // 20px
    margin: 1.5rem 0; // 20px 0rm 0.3s ease;

    &:hover {
        transform: translateY(-0.3125rem); // -5px
    }

    .card_wrapper {
        display: flex;
        justify-content: space-between;
        gap: 1.25rem; // 20px

        .card_left {
            flex: 1;

            h3 {
                font-size: 1.5rem; // 24px
                font-weight: 600;
                color: #2c3e50;
                margin-bottom: 1rem; // 10px
            }

            span {
                display: block;
                font-size: 1.3rem; // 16px
                color: #34495e;
                line-height: 1.5;
                padding: .5rem 0;
            }
        }

        .card_right {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            .bank_card {
                height: 20rem;
                max-width: 38rem;
                width: 95%;
                background: #111;
                border-radius: 1rem;
                position: relative;
                z-index: 1;
                overflow: hidden;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 1rem;
                    right: 15%;
                    width: 5rem;
                    height: 5rem;
                    border-radius: 50%;
                    background: #f50e41;
                    z-index: 2;
                }


                &::after {
                    content: "";
                    position: absolute;
                    bottom: 1rem;
                    right: 7%;
                    width: 5rem;
                    height: 5rem;
                    border-radius: 50%;
                    background: #f39f2f;
                    z-index: 2;
                }

                h2 {
                    position: absolute;
                    top: 1rem;
                    left: 2rem;
                    z-index: 2;
                    font-size: 2rem;
                    color: #fff;
                }

                h3 {
                    position: absolute;
                    top: 2rem;
                    right: 2rem;
                    z-index: 2;
                    font-size: 1.3rem;
                    color: #fff;
                }

                h4 {
                    position: absolute;
                    bottom: 1rem;
                    left: 2rem;
                    z-index: 2;
                    font-size: 1.5rem;
                    color: #fff;
                }
            }
        }
    }
}

@media (max-width: 48rem) {

    // 768px
    .card_wrapper {
        flex-direction: column;

        .card_right {
            margin-top: 1.25rem; // 20px
        }
    }
}