.title_header {
    color: var(--globalColor);
    font-size: 1.7rem;
    font-weight: var(--weight550);
}

.title {
    font-size: 4rem;
    margin-top: 1.5rem;
    text-transform: capitalize;
}

.des_header {
    font-size: 1.4rem;
    margin-left: 2.5rem;
    color: #888;
    margin-top: 2rem;
}

.Recruitment {
    .Recruitment_container {
        .container_job__connect {
            border-top: 0.1rem solid var(--border);
            margin: auto;
            text-align: center;
            padding: 7% 0;

            .flex_button {
                margin-top: 3rem;

                .btn_post_find_candidates {
                    padding: 2rem 7rem;
                    color: #0034d9;
                    border: 0.1rem solid blue;
                    font-size: 1.5rem;
                    border-radius: 0.8rem;
                    margin-right: 1rem;
                    font-weight: var(--weight550);

                    &:hover {
                        background: #7f98ea;
                        transition: 0.3s ease-in-out;
                        color: #fff;
                    }
                }

                .find_jobss {
                    padding: 2rem 7rem;
                    background: #00b14f;
                    font-size: 1.5rem;
                    border-radius: 0.8rem;
                    color: #fff;
                    margin-left: 1rem;
                    font-weight: var(--weight550);

                    &:hover {
                        background: #2ec242;
                        transition: 0.3s ease-in-out;
                    }
                }
            }
        }

        .service {
            margin: auto;
            text-align: center;

            .flex_service {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 5rem;
                padding: 4rem 0;

                .image_service {
                    flex: 1 1 42rem;
                    max-width: 75rem;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .contents_service {
                    text-align: start;

                    h3 {
                        font-size: 2.5rem;
                        text-transform: none;
                    }

                    p {
                        font-size: 1.4rem;
                        padding: 1rem 0 1rem 3rem;
                        color: #888;
                    }

                    .flex_button {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 2rem;
                        margin: 3rem 0 0 3rem;

                        .btn_post_find_candidates {
                            flex: 1 1 28rem;
                            padding: 1.5rem 5rem;
                            color: #0034d9;
                            border: 0.1rem solid blue;
                            font-size: 1.5rem;
                            border-radius: 0.8rem;
                            max-width: 100%;
                            font-weight: var(--weight550);

                            &:hover {
                                background: #7f98ea;
                                transition: 0.3s ease-in-out;
                                color: #fff;
                            }
                        }

                        .find_jobss {
                            flex: 1 1 18rem;
                            padding: 1.5rem 5rem;
                            background: #00b14f;
                            font-size: 1.5rem;
                            border-radius: 0.8rem;
                            color: #fff;
                            font-weight: var(--weight550);
                            max-width: 100%;

                            &:hover {
                                background: #2ec242;
                                transition: 0.3s ease-in-out;
                            }
                        }
                    }
                }
            }
        }

        .service__add {
            background-color: #fafafa;

            h3 {
                text-transform: none;
            }

            .flex_service__add {
                padding: 4rem 0;



                .pricing_boxes {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 2rem;
                    justify-content: center;

                    .pricing_box {
                        background: #fff;
                        border-radius: 1rem;
                        box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
                        padding: 3rem 1.5rem;
                        width: 100%;
                        max-width: 37rem;
                        text-align: left;
                        position: relative;

                        &:nth-child(1) {
                            border-top: 0.6rem solid #0ea5e9;
                        }

                        &:nth-child(2) {
                            border-top: 0.6rem solid #c2b82e;
                        }

                        &:nth-child(3) {
                            border-top: 0.6rem solid red;
                        }

                        &:nth-child(4) {
                            border-top: 0.6rem solid #6f61d9;
                        }

                        &:nth-child(5) {
                            border-top: 0.6rem solid #2e97c2;
                        }

                        .pricing_header {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 1rem;

                            .pricing_title {
                                font-size: 1.6rem;
                                font-weight: var(--weight550);
                                color: #333;
                            }
                        }

                        .pricing_price_container {
                            display: flex;
                            align-items: center;
                            gap: 1.5rem;
                            margin-bottom: 0.5rem;

                            .pricing_price_original {
                                font-size: 1.2rem;
                                font-weight: var(--weight550);
                                color: #888;
                                text-decoration: line-through; // Gạch ngang giá gốc
                            }

                            .pricing_price_discounted {
                                font-size: 2rem;
                                font-weight: var(--weight550);
                                color: #00b14f; // Màu xanh để nổi bật giá giảm
                            }
                        }

                        .pricing_note {
                            font-size: 1.2rem;
                            color: #888;
                            margin-bottom: 1rem;
                        }

                        .pricing_description {
                            font-size: 1.4rem;
                            color: #666;
                            line-height: 1.6;
                        }
                    }
                }

                .notes_and_buttons {
                    margin-top: 3rem;
                    text-align: left;
                    max-width: 100%;

                    .notes_list {
                        list-style-type: disc;
                        margin-bottom: 2rem;
                        padding-left: 0;

                        li {
                            font-size: 1.4rem;
                            color: #666;
                            line-height: 1.8;
                            margin-bottom: 1.3rem;

                            svg {
                                color: #00b14f;
                                margin-right: 1rem;
                                font-size: 1.6rem;
                                width: 1.8rem;
                                height: 1.8rem;
                            }
                        }
                    }

                    .flex_button {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 2rem;

                        .btn_consult {
                            padding: 1.5rem 5rem;
                            color: #0034d9;
                            border: 0.1rem solid blue;
                            font-size: 1.5rem;
                            border-radius: 0.8rem;
                            font-weight: var(--weight550);
                            background: transparent;

                            &:hover {
                                background: #7f98ea;
                                transition: 0.3s ease-in-out;
                                color: #fff;
                            }
                        }

                        .btn_post_now {
                            padding: 1.5rem 5rem;
                            background: none;
                            font-size: 1.5rem;
                            border-radius: 0.8rem;
                            color: #333;
                            font-weight: var(--weight550);
                            border: 0.1rem solid #333;

                            &:hover {
                                transition: 0.3s ease-in-out;
                            }
                        }
                    }
                }
            }
        }

        .about_us {
            margin: auto;
            text-align: center;

            .flex_about_us {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 2rem;
                padding: 5rem 3rem;
                background: #fafafa;
                border-radius: 2rem;
                margin-top: 3rem;


                .image_about_us {
                    flex: 1 1 22rem;
                    max-width: 75rem;
                    height: 100%;
                    overflow: hidden;
                    border-radius: 5rem;

                    img {
                        width: 100%;
                        height: 65rem;
                        object-fit: cover;
                    }
                }

                .contents_about_us {
                    flex: 1 1 41rem;
                    text-align: start;

                    h3 {
                        font-size: 2.5rem;
                        text-transform: none;
                    }

                    p {
                        font-size: 1.6rem;
                        padding: 1rem 0 1rem 3rem;
                        color: #888;
                        line-height: 2.2;

                        a {
                            font-weight: var(--weight550);
                        }

                        span {
                            font-weight: var(--weight550);
                            color: var(--viewDetails);
                        }
                    }


                }
            }
        }

        .values {
            margin: auto;
            text-align: center;

            .flex_values {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                gap: 2rem;
                padding: 5rem 3rem;
                border-radius: 2rem;
                margin-top: 3rem;

                .box_values {
                    flex: 1 1 40rem;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    background: #fafafa;
                    padding: 3rem;
                    border-radius: 1rem;


                    .image_values {
                        max-width: 100%;
                        height: auto;
                        overflow: hidden;
                        border-radius: 2rem;

                        img {
                            width: 100%;
                            height: auto;
                            object-fit: cover;
                        }
                    }

                    .contents_values {
                        text-align: left;

                        h3 {
                            font-size: 2.5rem;
                            text-transform: none;
                            color: #333;
                            margin-bottom: 1.5rem;
                        }

                        .values_list {
                            list-style: none;
                            padding: 0;

                            li {
                                font-size: 1.5rem;
                                color: #666;
                                line-height: 2.2;
                                margin-bottom: 1.5rem;
                                position: relative;
                                padding-left: 3rem;

                                &:before {
                                    content: '✔';
                                    color: #00b14f; // Màu xanh cho biểu tượng checkmark
                                    font-size: 1.6rem;
                                    position: absolute;
                                    left: 0;
                                    top: 0.2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}